#header{
	width:95%;
	height:120px;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
}
#leftColumn{
	float:left;
	height:600px;
	min-width:10%;
	padding-top:10px;
	margin-right:10px;
	margin-left:10px;
}
#rightColumn{
	float:left;
	height:600px;
	min-height:100%;
	min-width:10%;
	padding:10px;
	margin-left:10px;
}
#main{
	float:left;
	min-height:600px;
	min-width:70%;
	padding:10px;
}
#footer{
	float:left;
	height:20px;
	margin-bottom:-10px;
	text-align:center;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}
#menuSelector{
	border:1px solid;
	text-align:center;
}
#menuSelector div{
	display:inline-block;
	
}
#userMenu{
	float:right;
	width:11%;
}