RewriteBase /
RewriteEngine On

# Register
RewriteRule ^citizen/validate/name/(.*)$ /scripts/login/check.php?name=$1
RewriteRule ^citizen/validate/email/(.*)$ /scripts/login/check.php?email=$1


RewriteRule ^en/main/register(.*)$ /scripts/login/register.php
RewriteRule ^en/login /scripts/login/login.php
RewriteRule ^en/logout /scripts/login/logout.php

# General
RewriteRule ^en/main/mission-check /scripts/ajax/missionCheck.php
RewriteRule ^en/main/messages-inbox /scripts/citizen/messages.php
RewriteRule ^en/main/messages-alerts/1 /scripts/citizen/alerts.php
RewriteRule ^en/main/messages-compose/0 /scripts/citizen/messages.php?new=true
RewriteRule ^en/main/messages-read/(.*)$ /scripts/citizen/message.php?id=$1
RewriteRule ^en/main/latest-updates /scripts/general/lastupdates.php
RewriteRule ^en/main/home-news/(.*)/15 /scripts/general/lastnews.php
RewriteRule ^en/main/news/rated/all/(.$)/1 /scripts/news/mysubscriptions.php?from=$1

# Politic module
RewriteRule ^en/main/my-party /scripts/politic/myparty.php
RewriteRule ^en/create-party /scripts/politic/myparty.php?action=new


# Military module
RewriteRule ^en/military/battle-stats/(.*)$ /scripts/military/battle-stats.php?id=$1
RewriteRule ^en/military/battlefield/(.*)$ /scripts/military/battlefield.php?id=$1
RewriteRule ^en/military/campaigns /scripts/military/campaigns.php
RewriteRule ^en/military/fight-shooot/(.*)$ /scripts/military/fight.php?id=$1
RewriteRule ^en/military/change-weapon /scripts/military/fight.php


# Economy module
RewriteRule ^en/economy/myCompanies /scripts/economy/myCompanies.php
RewriteRule ^en/company/create /scripts/economy/newCompany.php
RewriteRule ^en/economy/work /scripts/economy/work.php

# Profile
RewriteRule ^en/citizen/profile /scripts/citizen/profile.php




RewriteRule ^en /scripts/home.php

