			<div class="holder">
	<h1 class="padded">Create party</h1>
	<a href="http://wiki.erepublik.com/index.php/Party" title="Open Wiki page" class="wikiicon largepadded" target="_blank">Find out more</a>	<div class="accountinfo largepadded">
		<div class="accountdisplay"><span class="rightpadded">Your account</span><span class="special">
	10.81</span> <img src="/images/parts/icon-gold.gif" title="Gold" alt="Gold" class="icon">Gold	</div>
</div>	<h2>Requirements</h2>
	<div class="smallhoderleft goleft">
		<p>Level</p>
		<p>Cost</p>
	</div>
	<div class="smallholderright goleft">
		<p><span class="special textalign">16</span></p>
		<div class="accountdisplay textalign">
			<span class="special">40</span> 
			<img src="/images/parts/icon-gold.gif" title="Gold" alt="Gold" class="icon">Gold		</div>
		<a class="btnGetGold" href="/en/get-gold/gold">Get Gold</a>
	</div>
	<h2 class="section">Party details</h2>
		<form action="/en/create-party" enctype="multipart/form-data" method="post" class="partydetails"><input type="hidden" value="8f8c4f18de4d79a0f7839e4f10ca6598" name="_token" id="_token">		<input type="hidden" value="1" id="requirments" name="requirments"><span id="error_for_requirments" style="display:none;" class="invalidicon messagealertclass"></span>
<span class="twin-small" style="float:left;" id="error_for_requirments_twin"></span>		<p class="largepadded">
			<span class="fieldname">Party name</span>
			<input type="text" class="rightpadded" value="" id="party_name" name="party_name"><span id="error_for_party_name" style="display:none;" class="invalid-small"></span>
<span class="twin-small" style="float:left;" id="error_for_party_name_twin">6-30 characters max</span>		</p>
		<p class="largepadded">
			<span class="fieldname">Economical orientation</span>
			<select class="rightpadded" id="economical_orientation" name="economical_orientation"><option value="0">Choose economical orientation</option><option value="Far-left">Far-left</option><option value="Center-left">Center-left</option><option value="Center">Center</option><option value="Center-right">Center-right</option><option value="Far-right">Far-right</option></select><span id="error_for_economical_orientation" style="display:none;" class="invalid-small"></span>
<span class="twin-small" style="float:left;" id="error_for_economical_orientation_twin"></span>		</p>
		<p class="largepadded">
			<span class="fieldname">Social orientation</span>
			<select class="rightpadded" id="social_orientation" name="social_orientation"><option value="0">Choose social orientation</option><option value="Totalitarian">Totalitarian</option><option value="Authoritarian">Authoritarian</option><option value="Libertarian">Libertarian</option><option value="Anarchist">Anarchist</option></select><span id="error_for_social_orientation" style="display:none;" class="invalid-small"></span>
<span class="twin-small" style="float:left;" id="error_for_social_orientation_twin"></span>		</p>
		<p class="largepadded">
			<span class="fieldname">Logo</span>
			<span class="goleft">
				<input type="file" class="rightpadded avatarupload" value="" id="party_image" name="party_image"><span id="error_for_party_image" style="display:none;" class="invalid-small"></span>
<span class="twin-small" style="float:left;" id="error_for_party_image_twin">only <strong>.jpg</strong> pictures allowed</span>			</span>
		</p>
		<p span="largepadded">
			<span class="fieldname">Discussion area </span>
			<span class="textalign rightpadded">http://</span>
			<span style="*float:left">
				<input type="text" style="width: 335px;" value="" id="debate" name="debate"></span>
		</p>
		<div class="buttonalign">
			<input type="submit" class="arrowbutton" value="Create" name="commit"></div>
	</form></div>