<h1>My party</h1>
<div class="indent infoicon">
	<h2 class="special goleft">You are not a member of a party</h2>
	<a target="_blank" title="Open Wiki page" class="wikiicon goright" href="http://wiki.erepublik.com/index.php/Party">
		Find out more	</a>
	<p>You can join a party from it's presentation page or you can create your own party if you cannot find the right one for you. Being a member of a party could give you the chance to become a Congress Member or even the President.</p>
		<div class="vbuttons">
		<span class="vround-btn-start"><span class="vround-btn-end">
			<a class="vround-btn-core" href="http://www.erepublik.com/en/main/rankings-parties/1/15">
				Join a party			</a>
		</span></span>
					<span class="vround-btn-start"><span class="vround-btn-end">
				<a class="vround-btn-core" href="http://www.erepublik.com/en/create-party">
					Create new				</a>
			</span></span>
			</div>
	</div>