<script type="text/javascript" src="/js/threads/jquery.tokeninput.js?1334921039"></script><script type="text/javascript" src="/js/jquery.limitMaxlength.js?1334921039"></script><script type="text/javascript" src="/js/threads/messages.js?1334921039"></script><link rel="stylesheet" href="/css/threads/messages.css?1334921032" type="text/css" /><link rel="stylesheet" href="/css/threads/tokeninput.css?1334921032" type="text/css" />

<h1 class="goleft">Messages</h1>
<ul class="tabs">
	<li id="topratedtab"><a href="/en/main/messages-inbox" class="on"><span>Messages</span></a></li>
	<li id="latesttab" class="last"><a href="/en/main/messages-alerts/1"><span>Alerts</span></a></li>
</ul>
<a class="right fluid_blue_light_medium message_get" href="/en/main/messages-compose/0"><span class="bold"><span class="envelope">New Message</span></span></a>
<div class="message_ajax_container">
    <div class="message_ajax_container">
    
<form method="post" action="/en/main/messages-delete">
	<input type="hidden" value="2a194db54cf85969d19ee6182afcdf1e" name="_token" id="_token">
  <table class="message_listing">

	
<tbody>
{loop="myMessages"}
<tr class="{if="$value.oficial==1"}special_msg{/if} "> 
  <th>
	<input type="checkbox" name="delete_message[]" id="delete_message_{$value.id}" value="{$value.id}">
  </th>
  <td class="entity">
	<div class="avatarholder">
	  <img width="35" height="35" class="icon" src="http://static.erepublik.com/uploads/avatars/Citizens/2010/04/11/07bbeba2d986a7374a30445849d71f91_55x55.jpg" alt="muertet">
	</div>
	<div class="nameholder">
	  <div>  
	  <a href="/en/citizen/profile/{$value.sender.uid}" title="{$value.sender.nick}">{$value.sender.nick}</a><br>
	  <span>33 minutes ago</span>
	  </div>
	</div>
  </td>
  <td style="width: 531px;float:left;">
		<div class="replied"></div>
		<div class="break-word">
		<a class="message_get subject" href="/en/main/messages-read/{$value.id}">{$value.title}		(0 / 32)</a><br>
			{$value.text}
		</div>
  </td>
</tr>
{/loop}
<tr class=" "> 
  <th>
	<input type="checkbox" name="delete_message[]" id="delete_message_78327459" value="78327459">
  </th>
  <td class="entity">
	<div class="avatarholder">
	  <img width="35" height="35" class="icon" src="http://static.erepublik.com/uploads/avatars/Citizens/2012/09/05/8207e7211b7addd67fe7aa0664499ad6_55x55.jpg" alt="ale21 indomable">
	</div>
	<div class="nameholder">
	  <div>  
	  <a href="/en/citizen/profile/6483867" title="ale21 indomable">ale21 indomable</a><br>
	  <span>5 days ago</span>
	  </div>
	</div>
  </td>
  <td style="width: 531px;float:left;">
		<div class="replied"></div>
		<div class="break-word">
		<a class="message_get subject" href="/en/main/messages-read/78327459">y tu eres?		(0 / 13)</a><br>
		yaa jeje yo tambien lo hago	</div>
  </td>
</tr>
<tr class=" "> 
  <th>
	<input type="checkbox" name="delete_message[]" id="delete_message_78372721" value="78372721">
  </th>
  <td class="entity">
	<div class="avatarholder">
	  <img width="35" height="35" class="icon" src="http://static.erepublik.com/uploads/avatars/Citizens/2012/01/29/c3d3162a4d7316529fc56a26a001061d_55x55.jpg" alt="MACOTERA">
	</div>
	<div class="nameholder">
	  <div>  
	  <a href="/en/citizen/profile/5606742" title="MACOTERA">MACOTERA</a><br>
	  <span>7 days ago</span>
	  </div>
	</div>
  </td>
  <td style="width: 531px;float:left;">
		<div class="replied"></div>
		<div class="break-word">
		<a class="message_get subject" href="/en/main/messages-read/78372721">...		(0 / 3)</a><br>
		graciassss =D	</div>
  </td>
</tr>
<tr class=" "> 
  <th>
	<input type="checkbox" name="delete_message[]" id="delete_message_78352756" value="78352756">
  </th>
  <td class="entity">
	<div class="avatarholder">
	  <img width="35" height="35" class="icon" src="http://static.erepublik.com/uploads/avatars/Citizens/2010/04/11/07bbeba2d986a7374a30445849d71f91_55x55.jpg" alt="muertet">
	</div>
	<div class="nameholder">
	  <div>  
	  <a href="/en/citizen/profile/3130969" title="muertet">muertet</a><br>
	  <span>7 days ago</span>
	  </div>
	</div>
  </td>
  <td style="width: 531px;float:left;">
		<div class="break-word">
		<a class="message_get subject" href="/en/main/messages-read/78352756">Fábrica de armas		(0 / 1)</a><br>
		Espero que disfrute de las instalaciones, hemos realizado una limpieza general antes de su venta.	</div>
  </td>
</tr>
<tr class="special_msg "> 
  <th>
	<input type="checkbox" name="delete_message[]" id="delete_message_78294129" value="78294129">
  </th>
  <td class="entity">
	<div class="avatarholder">
	  <img width="35" height="35" class="icon" src="http://static.erepublik.com/uploads/avatars/Citizens/2007/06/04/c81e728d9d4c2f636f067f89cc14862c_55x55.jpg" alt="Plato">
	</div>
	<div class="nameholder">
	  <div>  
	  <a href="/en/citizen/profile/2" title="Plato">Plato</a><br>
	  <span>10 days ago</span>
	  </div>
	</div>
  </td>
  <td style="width: 531px;float:left;">
		<div class="break-word">
		<a class="message_get subject" href="/en/main/messages-read/78294129">Removal of Residence building		(0 / 1)</a><br>
		Dear citizen,

Starting today, day 1767, the Residence building (former Town center) is being remove...	</div>
  </td>
</tr>
<tr class="special_msg "> 
  <th>
	<input type="checkbox" name="delete_message[]" id="delete_message_78114591" value="78114591">
  </th>
  <td class="entity">
	<div class="avatarholder">
	  <img width="35" height="35" class="icon" src="http://static.erepublik.com/uploads/avatars/Citizens/2007/06/04/c81e728d9d4c2f636f067f89cc14862c_55x55.jpg" alt="Plato">
	</div>
	<div class="nameholder">
	  <div>  
	  <a href="/en/citizen/profile/2" title="Plato">Plato</a><br>
	  <span>17 days ago</span>
	  </div>
	</div>
  </td>
  <td style="width: 531px;float:left;">
		<div class="break-word">
		<a class="message_get subject" href="/en/main/messages-read/78114591">Training Grounds Update		(0 / 1)</a><br>
		Dear citizen,

Starting today, we have removed the cost of building Training Grounds. You have recei...	</div>
  </td>
</tr>	<tr class="last">
	  <td colspan="3">
		<input type="checkbox" value="" id="select_all">
		<label for="select_all">Select All</label>
		<a title="submit" name="message_delete_trigger" class="fluid_blue_light_medium" href="#"><span>Delete</span></a>
		<div class="pagination">
		  <div class="info">
			<strong>1-9</strong> of <strong>9</strong>
		  </div>
		  <a title="" class="disabled fluid_blue_light_medium message_get" href="/en/main/messages-paginated/0"><span><span class="newer"></span>Newer</span></a>
		  <a title="" class="disabled fluid_blue_light_medium message_get" href="/en/main/messages-paginated/2"><span><span class="older"></span>Older</span></a>
		</div>
	  </td>
	</tr>
	 
  </tbody></table>
  
  
	<div class="holder" id="error_msgs">
	  <table style="" id="defaultError" class="info_message">
		<tbody>
		  <tr>
			<td>Only active conversations from the last 14 days are shown.</td>
		  </tr>
		</tbody>
	  </table>
	</div>
  
</form>



 </div> </div>


<span style="display:none" id="delete_message_confirmation">
  Are you sure you want to delete selected conversations?</span>		