<script type="text/javascript" src="/js/jquery.expander.js?1334921039"></script><script type="text/javascript" src="/js/citizen/profile.js?1339425190"></script><script type="text/javascript" src="/js/jquery.tipsy.js?1334921039"></script><script type="text/javascript" src="/js/to.js?1334921039"></script><script type="text/javascript" src="/js/jquery.bigtarget.js?1334921039"></script>

<script type="text/javascript">
	var ERPK_MAIN_HOST = 'www.erepublik.com';
    $j(document).ready(function () {
        $j(".place div span small, .place div a span strong").ellipsis();
        $j(".citizen_sidebar .citizen_activity .place div a").bigTarget();
        $j(".citizen_actions a, div.tip, .tips").tipsy({gravity: 's'});
    });
</script>
<div class="citizen_profile_header auth">
      <img width="158" height="158" style="background-image: url(http://static.erepublik.com/uploads/avatars/Citizens/2010/04/11/07bbeba2d986a7374a30445849d71f91_142x142.jpg);" alt="{$nick}" src="http://www.erepublik.com/images/modules/citizenprofile/profile_avatar.png" class="citizen_avatar">
    <h2>
    <span class="citizen_presence">
      <img alt="online" src="http://www.erepublik.com/images/modules/misc/online.png">
    </span>
    {$nick}    	    	  </h2>

	<div class="citizen_state">
		
			</div>

			<div class="citizen_edit">

			<a class="fluid_white_small" title="" href="http://www.erepublik.com/en/citizen/edit/profile">
				<span>
					<img alt="" src="http://www.erepublik.com/images/modules/citizenprofile/edit.png">
							edit profile				</span>
			</a>
		</div>
					<ul class="citizen_menu">
								<li>
					<a title="Friends" href="/en/main/citizen-friends/3130969">Friends</a>
				</li>
				<li>
					<a title="Invited friends" href="/en/gold-bonus/1">Invited friends</a>
									</li>
							</ul>
        							<div class="citizen_status">
				<div class="citizen_experience">
					<small>Experience Level</small>
					<strong class="citizen_level">24</strong>
					<div>
												<p>3,888 / 5,000</p>
							<table width="100%" border="0" class="barholder">
								<tbody>
									<tr>
										<td>
											<div class="bar experience">
												<div class="border"></div>
												<div class="fill">
													<span style="width: 39.6%;" class="mids"></span>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

			</div>
		</div>


<div class="citizen_sidebar">
<input type="hidden" id="isSubdomain" value="1">
<input type="hidden" id="domainName" value="www.erepublik.com">
<div class="citizen_info auth">
 	<small>
		Location:	    	        <a title="" href="http://www.erepublik.com/en/citizen/change-residence">(change)</a>
	    	</small>

  <a title="Spain" href="http://www.erepublik.com/en/country/society/Spain">
    <img title="Spain" alt="Spain" src="http://static.erepublik.com/images/flags/S/Spain.gif">
    Spain</a>,
  <a title="Catalonia" href="http://www.erepublik.com/en/main/region/Catalonia"> Catalonia</a>

  
    <small>
      Citizenship: 			 		    	    </small>
    <a href="http://www.erepublik.com/en/country/society/Spain">
      <img title="Spain" alt="Spain" src="http://static.erepublik.com/images/flags/S/Spain.gif">
      Spain    </a>

    <div class="citizen_second">
      <small>eRepublik birthday</small>
      <p>
        Apr 11, 2010      </p>
    <small>
    	<a href="http://www.erepublik.com/en/main/rankings-citizens/country/1/my">National rank:</a>
    	<strong>3457</strong></small>
                        
  	</div>

</div>
<div class="citizen_activity">
	    <div class="place">

						<h3 class="noactivity">
			        <img alt="" src="http://www.erepublik.com/images/modules/_icons/no_political_activity.png">
					No political activity			    </h3>
		
		    </div>
	<div class="place">
										<h3>
				<img alt="" src="http://www.erepublik.com/images/modules/_icons/mu.png">
				Member			</h3>
			<div class="one_newspaper">
				<a title="" href="/en/main/group-show/562">
					<img width="30" height="30" alt="Batallon ACB" src="http://static.erepublik.com/uploads/avatars/Groups/2011/06/01/4e4b5fbbbb602b6d35bea8460aa8f8e5_medium.jpg">
	                <span>Batallon ACB</span>
	            </a>
	        </div>
				</div>
	
	<div class="place">
						<h3 class="noactivity">
			<img alt="" src="http://www.erepublik.com/images/modules/_icons/no_media_activity.png">
							<a href="/en/create-newspaper">Create newspaper</a>
				     </h3>
			</div>

			<h4 class="friends_title">
			<a href="/en/citizen/friends/3130969">Friends (16)</a>
		</h4>

		<ul>
						<li>
				<a title="geohot" href="/en/citizen/profile/3857873">
					<img width="30" height="30" src="http://www.erepublik.com/images/default_avatars/Citizens/default_55x55.gif" alt="geohot">
				</a>
			</li>
						<li>
				<a title="Sergio619" href="/en/citizen/profile/1709643">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2009/07/31/4fe8c9c24ac169aa30207ab75ae2ef0a_55x55.jpg" alt="Sergio619">
				</a>
			</li>
						<li>
				<a title="antosquall" href="/en/citizen/profile/3730185">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2010/08/06/d2b9822137759971679d3effe77b581d_55x55.jpg" alt="antosquall">
				</a>
			</li>
						<li>
				<a title="El Capitan Alatriste" href="/en/citizen/profile/1848552">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2009/08/31/6f008965327e704ead72061243f5aa04_55x55.jpg" alt="El Capitan Alatriste">
				</a>
			</li>
						<li>
				<a title="Alexandropoliss" href="/en/citizen/profile/3898235">
					<img width="30" height="30" src="http://www.erepublik.com/images/default_avatars/Citizens/default_55x55.gif" alt="Alexandropoliss">
				</a>
			</li>
						<li>
				<a title="Sr. A" href="/en/citizen/profile/4879608">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2011/06/13/7db47d6c21729950dbf7167ff3970a0f_55x55.jpg" alt="Sr. A">
				</a>
			</li>
						<li>
				<a title="Luis_Hez" href="/en/citizen/profile/2076272">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2009/10/24/29f51f769131939152b38b1a4a90b48a_55x55.jpg" alt="Luis_Hez">
				</a>
			</li>
						<li>
				<a title="Garret337" href="/en/citizen/profile/4771790">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2011/05/08/c3ea4e59e6e27221c43adb2b65628394_55x55.jpg" alt="Garret337">
				</a>
			</li>
						<li>
				<a title="Sergio Daniel Velez" href="/en/citizen/profile/4959920">
					<img width="30" height="30" src="http://static.erepublik.com/uploads/avatars/Citizens/2011/07/08/1c9204acf13bb5d4d22d80ea98cd8192_55x55.jpg" alt="Sergio Daniel Velez">
				</a>
			</li>
					</ul>
		<a title="" href="/en/main/citizen-friends/3130969" class="view_friends">view all</a>
	</div>
</div>
<div class="citizen_content">
    	

	<h3 class="mbot2">Achievements</h3>
	<div id="career_tab_content">
		<div class="holder">
			<ul class="achiev" id="achievment">
				<li>
									<img alt="hard worker" src="/images/achievements/icon_achievement_hardworker_on.gif">
					<div class="counter">1</div>
					<div class="hinter">
						<span>
							<p class="padded"><strong>Hard Worker</strong></p>
							<p>Worked 30 days</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="congressman" src="/images/achievements/icon_achievement_congressman_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Congress Member</strong></p>
							<p>Win the Congress elections</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="president" src="/images/achievements/icon_achievement_president_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Country President</strong></p>
							<p>Win the Presidential elections</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="media mogul" src="/images/achievements/icon_achievement_mediamogul_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Media Mogul</strong></p>
							<p>Reach 1000 subscribers to your newspaper</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="battle hero" src="/images/achievements/icon_achievement_battlehero_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Battle Hero</strong></p>
							<p>Reach the highest war influence in a battle</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="campaign hero" src="/images/achievements/icon_achievement_campaignhero_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Campaign Hero</strong></p>
							<p>Reach the highest war influence in a campaign</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="resistance hero" src="/images/achievements/icon_achievement_resistance_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Resistance Hero</strong></p>
							<p>Start a resistance war and liberate that region</p>
						</span>
					</div>
								</li>
				<li>
									<img alt="super soldier" src="/images/achievements/icon_achievement_supersoldier_on.gif">
					<div class="counter">3</div>
					<div class="hinter">
						<span>
							<p class="padded"><strong>Super Soldier</strong></p>
							<p>Advance 250 strength points</p>
						</span>
					</div>
								</li>

								<li>
											<img alt="society builder" src="/images/achievements/icon_achievement_society_builder_off.gif">
						<div class="hinter">
							<span>
								<p class="padded"><strong>Society Builder</strong></p>
								<p>Invite 10 people to eRepublik and help them reach level 10</p>
							</span>
						</div>
									</li>
				
				<li>
										<img alt="mercenary" src="/images/achievements/icon_achievement_mercenary_off.gif">
										<div class="hinter expanded">
												<div class="target"></div>
												<span>
							<p class="padded"><strong>Mercenary</strong></p>
							<p>Defeat 25 enemies for 50 different countries</p>
															<big><strong>2/50</strong> countries</big>
								<ul class="country_list">
																		<li title="Albania">
										<img alt="" src="/images/flags_png/S/Albania.png">
										<small>AL</small>
										<em>0/25</em>
									</li>
																		<li title="Argentina">
										<img alt="" src="/images/flags_png/S/Argentina.png">
										<small>AR</small>
										<em>0/25</em>
									</li>
																		<li title="Australia">
										<img alt="" src="/images/flags_png/S/Australia.png">
										<small>AU</small>
										<em>0/25</em>
									</li>
																		<li title="Austria">
										<img alt="" src="/images/flags_png/S/Austria.png">
										<small>AT</small>
										<em>0/25</em>
									</li>
																		<li title="Belarus">
										<img alt="" src="/images/flags_png/S/Belarus.png">
										<small>BY</small>
										<em>0/25</em>
									</li>
																		<li title="Belgium">
										<img alt="" src="/images/flags_png/S/Belgium.png">
										<small>BE</small>
										<em>0/25</em>
									</li>
																		<li title="Bolivia">
										<img alt="" src="/images/flags_png/S/Bolivia.png">
										<small>BO</small>
										<em>0/25</em>
									</li>
																		<li title="Bosnia and Herzegovina">
										<img alt="" src="/images/flags_png/S/Bosnia-Herzegovina.png">
										<small>BH</small>
										<em>0/25</em>
									</li>
																		<li title="Brazil">
										<img alt="" src="/images/flags_png/S/Brazil.png">
										<small>BR</small>
										<em>0/25</em>
									</li>
																		<li title="Bulgaria">
										<img alt="" src="/images/flags_png/S/Bulgaria.png">
										<small>BG</small>
										<em>8/25</em>
									</li>
																		<li title="Canada">
										<img alt="" src="/images/flags_png/S/Canada.png">
										<small>CA</small>
										<em>0/25</em>
									</li>
																		<li title="Chile">
										<img alt="" src="/images/flags_png/S/Chile.png">
										<small>CL</small>
										<em>0/25</em>
									</li>
																		<li title="China">
										<img alt="" src="/images/flags_png/S/China.png">
										<small>CN</small>
										<em>0/25</em>
									</li>
																		<li title="Colombia">
										<img alt="" src="/images/flags_png/S/Colombia.png">
										<small>CO</small>
										<em>0/25</em>
									</li>
																		<li title="Croatia">
										<img alt="" src="/images/flags_png/S/Croatia.png">
										<small>HR</small>
										<em>0/25</em>
									</li>
																		<li title="Cyprus">
										<img alt="" src="/images/flags_png/S/Cyprus.png">
										<small>CY</small>
										<em>0/25</em>
									</li>
																		<li title="Czech Republic">
										<img alt="" src="/images/flags_png/S/Czech-Republic.png">
										<small>CZ</small>
										<em>0/25</em>
									</li>
																		<li title="Denmark">
										<img alt="" src="/images/flags_png/S/Denmark.png">
										<small>DK</small>
										<em>0/25</em>
									</li>
																		<li title="Egypt">
										<img alt="" src="/images/flags_png/S/Egypt.png">
										<small>RE</small>
										<em>0/25</em>
									</li>
																		<li title="Estonia">
										<img alt="" src="/images/flags_png/S/Estonia.png">
										<small>EE</small>
										<em>2/25</em>
									</li>
																		<li title="Finland">
										<img alt="" src="/images/flags_png/S/Finland.png">
										<small>FI</small>
										<em>0/25</em>
									</li>
																		<li title="France">
										<img alt="" src="/images/flags_png/S/France.png">
										<small>FR</small>
										<em>0/25</em>
									</li>
																		<li title="Germany">
										<img alt="" src="/images/flags_png/S/Germany.png">
										<small>DE</small>
										<em>0/25</em>
									</li>
																		<li title="Greece">
										<img alt="" src="/images/flags_png/S/Greece.png">
										<small>GR</small>
										<em>0/25</em>
									</li>
																		<li title="Hungary">
										<img alt="" src="/images/flags_png/S/Hungary.png">
										<small>HU</small>
										<em>4/25</em>
									</li>
																		<li title="India">
										<img alt="" src="/images/flags_png/S/India.png">
										<small>IN</small>
										<em>0/25</em>
									</li>
																		<li title="Indonesia">
										<img alt="" src="/images/flags_png/S/Indonesia.png">
										<small>ID</small>
										<em>0/25</em>
									</li>
																		<li title="Iran">
										<img alt="" src="/images/flags_png/S/Iran.png">
										<small>IR</small>
										<em>0/25</em>
									</li>
																		<li title="Ireland">
										<img alt="" src="/images/flags_png/S/Ireland.png">
										<small>IE</small>
										<em>0/25</em>
									</li>
																		<li title="Israel">
										<img alt="" src="/images/flags_png/S/Israel.png">
										<small>IL</small>
										<em>0/25</em>
									</li>
																		<li title="Italy">
										<img alt="" src="/images/flags_png/S/Italy.png">
										<small>IT</small>
										<em>0/25</em>
									</li>
																		<li title="Japan">
										<img alt="" src="/images/flags_png/S/Japan.png">
										<small>JP</small>
										<em>0/25</em>
									</li>
																		<li title="Latvia">
										<img alt="" src="/images/flags_png/S/Latvia.png">
										<small>LV</small>
										<em>0/25</em>
									</li>
																		<li title="Lithuania">
										<img alt="" src="/images/flags_png/S/Lithuania.png">
										<small>LT</small>
										<em>0/25</em>
									</li>
																		<li title="Malaysia">
										<img alt="" src="/images/flags_png/S/Malaysia.png">
										<small>MY</small>
										<em>0/25</em>
									</li>
																		<li title="Mexico">
										<img alt="" src="/images/flags_png/S/Mexico.png">
										<small>MX</small>
										<em>0/25</em>
									</li>
																		<li title="Montenegro">
										<img alt="" src="/images/flags_png/S/Montenegro.png">
										<small>ME</small>
										<em>0/25</em>
									</li>
																		<li title="Netherlands">
										<img alt="" src="/images/flags_png/S/Netherlands.png">
										<small>NL</small>
										<em>0/25</em>
									</li>
																		<li title="New Zealand">
										<img alt="" src="/images/flags_png/S/New-Zealand.png">
										<small>NZ</small>
										<em>4/25</em>
									</li>
																		<li title="North Korea">
										<img alt="" src="/images/flags_png/S/North-Korea.png">
										<small>KP</small>
										<em>0/25</em>
									</li>
																		<li title="Norway">
										<img alt="" src="/images/flags_png/S/Norway.png">
										<small>NO</small>
										<em>0/25</em>
									</li>
																		<li title="Pakistan">
										<img alt="" src="/images/flags_png/S/Pakistan.png">
										<small>PK</small>
										<em>0/25</em>
									</li>
																		<li title="Paraguay">
										<img alt="" src="/images/flags_png/S/Paraguay.png">
										<small>PY</small>
										<em>0/25</em>
									</li>
																		<li title="Peru">
										<img alt="" src="/images/flags_png/S/Peru.png">
										<small>PE</small>
										<em>0/25</em>
									</li>
																		<li title="Philippines">
										<img alt="" src="/images/flags_png/S/Philippines.png">
										<small>PH</small>
										<em>0/25</em>
									</li>
																		<li title="Poland" class="completed">
										<img alt="" src="/images/flags_png/S/Poland.png">
										<small>PL</small>
										<em>25/25</em>
									</li>
																		<li title="Portugal">
										<img alt="" src="/images/flags_png/S/Portugal.png">
										<small>PT</small>
										<em>0/25</em>
									</li>
																		<li title="Republic of China (Taiwan)">
										<img alt="" src="/images/flags_png/S/Republic-of-China-Taiwan.png">
										<small>TW</small>
										<em>0/25</em>
									</li>
																		<li title="Republic of Macedonia (FYROM)">
										<img alt="" src="/images/flags_png/S/Republic-of-Macedonia-FYROM.png">
										<small>MK</small>
										<em>0/25</em>
									</li>
																		<li title="Republic of Moldova">
										<img alt="" src="/images/flags_png/S/Republic-of-Moldova.png">
										<small>MD</small>
										<em>0/25</em>
									</li>
																		<li title="Romania">
										<img alt="" src="/images/flags_png/S/Romania.png">
										<small>RO</small>
										<em>0/25</em>
									</li>
																		<li title="Russia">
										<img alt="" src="/images/flags_png/S/Russia.png">
										<small>RU</small>
										<em>0/25</em>
									</li>
																		<li title="Saudi Arabia">
										<img alt="" src="/images/flags_png/S/Saudi-Arabia.png">
										<small>SA</small>
										<em>0/25</em>
									</li>
																		<li title="Serbia">
										<img alt="" src="/images/flags_png/S/Serbia.png">
										<small>CS</small>
										<em>12/25</em>
									</li>
																		<li title="Singapore">
										<img alt="" src="/images/flags_png/S/Singapore.png">
										<small>SG</small>
										<em>0/25</em>
									</li>
																		<li title="Slovakia">
										<img alt="" src="/images/flags_png/S/Slovakia.png">
										<small>SK</small>
										<em>0/25</em>
									</li>
																		<li title="Slovenia">
										<img alt="" src="/images/flags_png/S/Slovenia.png">
										<small>SI</small>
										<em>3/25</em>
									</li>
																		<li title="South Africa">
										<img alt="" src="/images/flags_png/S/South-Africa.png">
										<small>ZA</small>
										<em>0/25</em>
									</li>
																		<li title="South Korea">
										<img alt="" src="/images/flags_png/S/South-Korea.png">
										<small>KR</small>
										<em>5/25</em>
									</li>
																		<li title="Spain" class="completed">
										<img alt="" src="/images/flags_png/S/Spain.png">
										<small>ES</small>
										<em>25/25</em>
									</li>
																		<li title="Sweden">
										<img alt="" src="/images/flags_png/S/Sweden.png">
										<small>SE</small>
										<em>9/25</em>
									</li>
																		<li title="Switzerland">
										<img alt="" src="/images/flags_png/S/Switzerland.png">
										<small>CH</small>
										<em>0/25</em>
									</li>
																		<li title="Thailand">
										<img alt="" src="/images/flags_png/S/Thailand.png">
										<small>TH</small>
										<em>0/25</em>
									</li>
																		<li title="Turkey">
										<img alt="" src="/images/flags_png/S/Turkey.png">
										<small>TR</small>
										<em>0/25</em>
									</li>
																		<li title="Ukraine">
										<img alt="" src="/images/flags_png/S/Ukraine.png">
										<small>UA</small>
										<em>0/25</em>
									</li>
																		<li title="United Arab Emirates">
										<img alt="" src="/images/flags_png/S/United-Arab-Emirates.png">
										<small>AE</small>
										<em>0/25</em>
									</li>
																		<li title="United Kingdom">
										<img alt="" src="/images/flags_png/S/United-Kingdom.png">
										<small>UK</small>
										<em>1/25</em>
									</li>
																		<li title="Uruguay">
										<img alt="" src="/images/flags_png/S/Uruguay.png">
										<small>UY</small>
										<em>0/25</em>
									</li>
																		<li title="USA">
										<img alt="" src="/images/flags_png/S/USA.png">
										<small>US</small>
										<em>7/25</em>
									</li>
																		<li title="Venezuela">
										<img alt="" src="/images/flags_png/S/Venezuela.png">
										<small>VE</small>
										<em>2/25</em>
									</li>
																	</ul>
													</span>
					</div>
				</li>
				<li>
									<img alt="Top Fighter" src="/images/achievements/icon_achievement_top_fighter_off.gif">
					<div class="hinter">
						<span>
							<p class="padded"><strong>Top Fighter</strong></p>
							<p>Have one of the highest daily influences in eRepublik for 30 different days..<br><br>
							<br><br>
							<b>0/30 days in <a title="" href="http://www.erepublik.com/en/main/rankings-damage/1">Top fighters</a></b></p>
						</span>
					</div>
								</li>
				<li>

									<img alt="true patriot" src="/images/achievements/icon_achievement_truepatriot_on.gif">
					<div class="counter">2</div>
					<div class="hinter">
												<span>
							<p class="padded"><strong>True Patriot</strong></p>
							<p>Reach 1,000,000 damage while fighting for Spain and prove you are a true patriot.								<br>
								<br>
								<small>Inflict damage for your citizenship country. You can view your current progress in the True Patriot section below.</small>
							</p>
						</span>
											</div>
				
				</li>
			</ul>
		</div>
	</div>

	<h3>Military Attributes</h3>
	<div style="margin-bottom:2px;" class="citizen_military">
		<strong>Strength</strong>

		<h4 style="margin-left:40px">
						870.37		</h4>
		<div class="stat">
						<small>Super Soldier:<strong>870 / 1,000</strong></small>
			<table width="100%" border="0" class="barholder">
				<tbody>
					<tr>
						<td>
							<div class="bar skill">
								<div class="border"></div>
								<div class="fill">
									<span class="mids" style="width: 46.224768%;"></span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="clear"></div>
	<div class="citizen_military">
		<strong>Military Rank</strong>
		<h4>
			<img width="24" height="24" alt="Commander **" title="Commander **" src="http://www.erepublik.com/images/modules/ranks/commander_2.png">
			<a target="_blank" href="http://wiki.erepublik.com/index.php/Military_rank">Commander **</a>
		</h4>
		<div style="margin-top:5px" class="stat">
			<small>Rank points:</small>
			<table width="100%" border="0" class="barholder">
				<tbody>
					<tr>
						<td>
							<div class="bar damage">
								<div class="border"></div>
								<div class="fill">
									<span class="mids" style="width: 22.866666666667%;"></span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<small style="width:200px;margin-left:-37px;white-space:nowrap;"><strong>71,116 / 85,000</strong></small>
		</div>
	</div>
	<div class="clear"></div>
	<h3>
		True Patriot		<img alt="" style="position:relative;bottom:-2px;right:-2px;" src="http://www.erepublik.com/images/modules/_icons/small_info_icon.png" class="tips" original-title="The damage for the True Patriot medal is calculated since day 1619.">
	</h3>
		<div class="citizen_military">
		<strong>Damage</strong>
		<h4 style="margin-left:40px">
			541,377			for			<img title="Spain" alt="Spain" src="/images/flags_png/S/Spain.png" style="margin-left:4px;vertical-align:-4px;">

		</h4>
		<div style="margin-top:5px" class="stat">
		<small>Progress:</small>
		<table width="100%" border="0" class="barholder">
			<tbody>
				<tr>
					<td>
						<div class="bar damage">
							<div class="border">
							</div>
							<div class="fill">
								<span class="mids" style="width: 8.28%;"></span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<small style="width:200px;margin-left:-37px;white-space:nowrap;"><strong>541,377 / 1,000,000</strong></small>
		</div>
	</div>
			<div class="clear"></div>
	<h3>
		Top damage in a campaign		<img alt="" style="position:relative;bottom:-2px;right:-2px;" src="http://www.erepublik.com/images/modules/_icons/small_info_icon.png" class="tips" original-title="Top damage is only updated at the end of the campaign">
	</h3>

	<div class="citizen_military">
                <strong>Damage</strong>
                 <h4 style="margin-left:40px">
                        145,895					 for			 <img alt="Spain" src="/images/flags_png/S/Spain.png" style="margin-left:4px;vertical-align:-4px;">

                </h4>
                <div style="margin-top:5px;width:210px;" class="stat">
									<small style="width:200px;line-height: 12px;overflow:hidden;">&nbsp;Achieved while successfully defending Centro against Portugal on day 1,768</small>
                </div>
        </div>
</div>