<link media="screen" type="text/css" href="/css/cmp/latest_updates.1347434131.css" rel="stylesheet">
<div class="latest_updates">
	<h2>Latest Updates</h2>

	<div class="updates_container">
	<span class="day_number"><strong class="curent"><q></q>Day&nbsp;1,773</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="New cost for Training " onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/18" trigger="open_update">
					New cost for Training 					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F18" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F18" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						The cost for the daily train at the <b> "Shooting Range"</b> building was reduced from <b>1.49 to 0.89 Gold</b>.<br><br>
To sum up, the new training costs are the following:<br><br>
Weights Room: free<br> <br>
Climbing Center: 0.19 Gold<br><br>
Shooting Range: 0.89 Gold<br><br>
Special Forces Center: 1.79 Gold <br><br>
Please note that if you have the Training Contract, the daily cost for the "Shooting Range" will also be reduced to 0.089 with the 90% Contract  or 0.445 with the 50% Contract. <br><br>
Also as a reminder,  the daily training cost is the same  regardless the quality of your training grounds. <br><br>
<b>VERY IMPORTANT!!</b> The citizens that already trained with the Shooting Rage, <b>TODAY</b>, will receive the gold difference in a few hours. 


			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<span class="day_number"><strong class=""><q></q>Day&nbsp;1,767</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="Removal of Residence building" onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/17" trigger="open_update">
					Removal of Residence building					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F17" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F17" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						Starting today,  the Residence building (former Town center) is being removed. <br><br>
If you previously made upgrades to your Residence using currency, you will find the compensation in your storage for your expense. In addition, from now on, each level up will reward you with a full refill of energy.<br><br>
The maximum energy for a new citizen is 100 and will increase with 20 at every level up until level 21. At level 21 a citizen will have a maximum energy of at least 500. After level 21, the maximum energy can be increased by purchasing an Energy Center.<br><br>
<b>Eg</b>:<br><br>
At level 1 the citizen has a maximum energy of 100.<br>
At level 2 the citizen has a maximum energy of 120.<br>
At level 11 the citizen has a maximum energy of 300.<br>
At level 12 the citizen has a maximum energy of 320.<br><br>
The citizens that did not have a quality 5 Residence and have a minimum level of 21 will get an increase of their maximum energy to 500.<br><br>
The citizens that are under level 21, will receive an increase of their maximum energy depending on their level.<br><br>
The citizens that already had a quality Residence will have the same maximum energy they had until now.
			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<span class="day_number"><strong class=""><q></q>Day&nbsp;1,760</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="Training Grounds Update" onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/16" trigger="open_update">
					Training Grounds Update					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F16" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F16" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						Starting today, we have removed the cost of building Training Grounds. You have received all the Training Grounds available free of charge.<br><br>
If you previously purchased Training Grounds using currency, you will find an extra Energy Bar in your storage as a compensation for your expense.<br><br>
<b>VERY IMPORTANT</b> : this update affects <b>only</b> the cost of building Training Grounds (using currency), not the upgrades that require Gold. <br><br>

The prices of each training building were:<br><br>

Training Ground Climbing Center = 100 currency<br>
Training Ground Shooting Range = 200 currency<br>
Training Ground Special Center Forces = 300 currency<br><br>

The price of upgrades and the daily training fee remain the same. 			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<span class="day_number"><strong class=""><q></q>Day&nbsp;1,757</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="Training Contract" onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/15" trigger="open_update">
					Training Contract					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F15" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F15" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						There are 2 types of <b>Training Contracts</b> available on the Special Item page: <br><br>
1. With <b> 30 Gold you receive 50% discount </b> on training. This discount is applied during a 30 days period, for all the buildings you choose to use<br><br>
<b> Ex </b> : if you train with all the 4 buildings you pay 3.47 Gold daily. By having this contract you will pay only 1.735 Gold daily <br><br>
2. With <b> 65 Gold you receive 90% discount </b> on training. This discount is applied during a 30 days period, for all the buildings you choose to use. <br><br>
<b> Ex </b> : if you train with all the 4 buildings you pay 3.47 Gold daily. By having this contract you will pay only 0.347 Gold daily <br><br>
You cannot sign both contracts so you need to choose which one is more suitable for your needs.<br><br>
You can only sign the contract once, thus you cannot have the discount more than 30 days .  <br><br>
On the Training page you will be able to see the remaining days of contract availability.

			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<div class="update active">
		<h2>
			<span>
				<a title="PayByMobile - New country added" onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/14" trigger="open_update">
					PayByMobile - New country added					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F14" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F14" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						During the past few months, we have received several emails asking for the addition of<b> Bosnia and Herzegovina</b> to our PayBySMS list. <br><br>
Today, we are happy to inform you that Bosnia and Herzegovina was successfully added to our payment provider Allopass. In order to see which are the steps of purchasing Gold via SMS, please check our Gold and Extras page.<br><br>
Good news continues, as AlloPass has also completed the technical integration of the new French Mobile Operator, Free mobile, thus making possible the sending of Premium SMS for their clients.<br><br>
If you have any suggestions regarding the addition of new payment methods, don`t hesitate to contact us.			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<span class="day_number"><strong class=""><q></q>Day&nbsp;1,752</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="Mass destruction weapons : BOMBS and ROCKETS " onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/13" trigger="open_update">
					Mass destruction weapons : BOMBS and ROCKETS 					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F13" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F13" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						Until the end of Day 1,755  win <b> Rockets</b> for every battle hero medal and <b> Bombs </b>(5,000,000 damage) for every campaign hero medal! Use them to win your battles! <br><br>
The Rockets damage varies according to the division you are in:<br><br>
<b>Div 1</b> : 75.000 damage<br><br>
<b>Div 2</b> : 375.000 damage <br><br>
<b>Div 3</b> : 750.000 damage <br><br>
<b>Div 4</b> : 1.500.000 damage <br><br>
This damage is counted only for influence bar and your battle damage. No rank points or experience points will be added for using these mass destruction weapons! <br><br>
The weapons can be used in a period of<b> 30 days</b> , after they will expire (Day 1786). <br><br>
Check your Storage to see how many weapons you have available and when is the last day you can use them. The mass destruction weapons have a separate storage slot than the Rockets you can produce each day. <br><br>
Check your profile page after you used one of the weapons to see their history : when you used it and in which battle.<br><br>			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<span class="day_number"><strong class=""><q></q>Day&nbsp;1,745</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="More energy, more fun!" onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/11" trigger="open_update">
					More energy, more fun!					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F11" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F11" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						Starting today, until the end of day 1748 23:59 eRep time , all the energy bars will  bring you  a <b>double amount of energy</b><br><br>
The bonus will be applied also to :<br><br>
- all the energy bars you already have in your storage <br><br>
- all the energy bars you purchase from the special item page<br><br>
So, after you reach the energy limit by eating your food, using an energy bar will give you 200 energy instead of 100.<br>
At the end of the promotion, all the unused energy bars will give you 100 energy as before. <br>
			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
		<span class="day_number"><strong class=""><q></q>Day&nbsp;1,744</strong></span>
		<div class="update">
		<h2>
			<span>
				<a title="Health to Energy" onclick="return false;" href="http://www.erepublik.com/en/main/latest-updates/0/10" trigger="open_update">
					Health to Energy					<q class="copy_link">
						
<object width="110" height="14" id="clippy" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="/flash/clippy.swf" name="movie">
<param value="always" name="allowScriptAccess">
<param value="high" name="quality">
<param value="noscale" name="scale">
<param value="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F10" name="FlashVars">
<param value="#fff" name="bgcolor">
<embed width="110" height="14" bgcolor="#FFF" flashvars="text=http%3A%2F%2Fwww.erepublik.com%2Fen%2Fmain%2Flatest-updates%2F0%2F10" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" name="clippy" src="/flash/clippy.swf">
</object>

					</q>
				</a>
			</span>
		</h2>

		<p>
						Beginning on day 1743, the concept of <b>“Health” is renamed to “Energy” </b>. Working, training and fighting consume the same amount of Energy as they did with Health before. Likewise, Food will recover an equal amount of Energy. Apart from the name change, the following aspects of the game are modified:<br><br>
- <b>Your maximum recoverable Energy will be instantly available </b>. Example: If you have a Q3 Town Center, the former Health Bar will no longer show 100 Health, but 300 Energy.<br><br>
- <b>Same as before, if you have a Q3 Town Center, you will be able to recover a maximum of 300 Energy at one time </b>. This means that if you start a gaming session at full Energy you can play nearly twice as long as before. Example: Before you had 100 Health + 300 recoverable Health. Now you have 300 Energy + 300 recoverable Energy<br><br>
- Speaking of <b>Town Center, it will be renamed to “Residence” </b><br><br>
- You will be able to upgrade your Residence by clicking the button conveniently placed next to your Energy indicator<br><br>
- Finally, the rule for recovering Energy is slightly changed: instead of being able to recover 100 Energy per hour, <b>you will be able to recover 10 Energy every 6 minutes</b>.<br><br>
			<br><span><a title="" href="http://www.erepublik.com/en/tickets">send feedback</a>
		</span></p>
	</div>
	<input type="hidden" value="0" id="page" name="page">
<input type="hidden" value="8f8c4f18de4d79a0f7839e4f10ca6598" id="_token" name="_token">
			</div>
		<ul class="pager">
					</ul>
</div>
		