<div style="width:1024px;" id="filters">
	<div class="leftfilters">
		<div class="start"></div>
		<div class="core">
			<a onclick="return showHideDomainSelector();" title="Select domain" class="selector last" href="#">
			<img title="Select domain" src="http://www.erepublik.com/images/parts/icon_media_toprated.gif"> 
			</a>
		</div>
		<div class="end"></div>
	</div>
	<div style="float:left;position:relative;" class="rightfilters">
		<div class="start"></div>
		<div style="width:650px" class="core"> <!-- inlinestyle provizoriu -->
						<a onclick="return showHideCountry();" title="Select country" class="selector" href="#">
				<span class="flagholder">
									<img class="flag" src="/images/flags/L/Spain.gif">   
								</span>
			</a>
						<ul class="news_filters">
								<li>
															<a title="First steps in eRepublik" href="http://www.erepublik.com/en/main/news/rated/first-steps-in-erepublik/Spain/1">
						<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_1_big.png">
					</a>
				</li>
								<li>
															<a title="Battle orders" href="http://www.erepublik.com/en/main/news/rated/battle-orders/Spain/1">
						<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_2_big.png">
					</a>
				</li>
								<li>
															<a title="Warfare analysis" href="http://www.erepublik.com/en/main/news/rated/warfare-analysis/Spain/1">
						<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_3_big.png">
					</a>
				</li>
								<li>
															<a href="http://www.erepublik.com/en/main/news/rated/political-debates-and-analysis/Spain/1" original-title="Political debates and analysis">
						<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_4_big.png">
					</a>
				</li>
								<li>
															<a href="http://www.erepublik.com/en/main/news/rated/financial-business/Spain/1" original-title="Financial business">
						<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_5_big.png">
					</a>
				</li>
								<li>
															<a href="http://www.erepublik.com/en/main/news/rated/social-interactions-and-entertainment/Spain/1" original-title="Social interactions and entertainment">
						<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_6_big.png">
					</a>
				</li>
							</ul>
						<div class="your_subs">
				You have <strong>6</strong> newspaper subscriptions				<a title="" onclick="$j('.asubs').toggle();" class="fluid_blue_dark" href="javascript:;"><span>Change</span></a>
			</div>
					</div>
		<div class="end"></div>
				 <input type="hidden" value="8f8c4f18de4d79a0f7839e4f10ca6598" name="_token" id="_token">
		<div class="asubs">
			<ul>
								<li id="newspaper_233726">
					<label>
						<input type="checkbox" value="233726" name="newspaper_id[]">
					</label>
					<a class="newspaper_avatar" title="" href="javascript:;">
						<img width="55" height="55" src="http://www.erepublik.com/images/default_avatars/Newspapers/default_55x55.gif" alt="Cronicas de eLuxhoro">                    
					</a>
					<div>
							<a href="/en/newspaper/cronicas-de-eluxhoro-233726/1" title="Cronicas de eLuxhoro" class="dotted">Cronicas de eLuxhoro</a>

						<small>
														<img class="flag" src="/images/flags/S/Uruguay.gif">   
							Uruguay
						</small>
					</div>
				</li>
								<li id="newspaper_257382">
					<label>
						<input type="checkbox" value="257382" name="newspaper_id[]">
					</label>
					<a class="newspaper_avatar" title="" href="javascript:;">
						<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2011/06/03/fed755b9ad66201934e3beb388ba4d85_55x55.jpg" alt="Songs of Baal">                    
					</a>
					<div>
							<a href="/en/newspaper/songs-of-baal-257382/1" title="Songs of Baal" class="dotted">Songs of Baal</a>

						<small>
														<img class="flag" src="/images/flags/S/Spain.gif">   
							Spain
						</small>
					</div>
				</li>
								<li id="newspaper_257714">
					<label>
						<input type="checkbox" value="257714" name="newspaper_id[]">
					</label>
					<a class="newspaper_avatar" title="" href="javascript:;">
						<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2011/06/08/e03ec777da78606ddeb2209016281999_55x55.jpg" alt="REFLEXIONES EN VOZ ALTA">                    
					</a>
					<div>
							<a href="/en/newspaper/reflexiones-en-voz-alta-257714/1" title="REFLEXIONES EN VOZ ALTA" class="dotted">REFLEXIONES EN VOZ ALTA</a>

						<small>
														<img class="flag" src="/images/flags/S/Spain.gif">   
							Spain
						</small>
					</div>
				</li>
								<li id="newspaper_278052">
					<label>
						<input type="checkbox" value="278052" name="newspaper_id[]">
					</label>
					<a class="newspaper_avatar" title="" href="javascript:;">
						<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/07/12/4a7d9281dda8b4a8751d8cc169dc60a7_55x55.jpg" alt="InternationalBGnewspaper">                    
					</a>
					<div>
							<a href="/en/newspaper/internationalbgnewspaper-278052/1" title="InternationalBGnewspaper" class="dotted">InternationalBGnewspaper</a>

						<small>
														<img class="flag" src="/images/flags/S/Bulgaria.gif">   
							Bulgaria
						</small>
					</div>
				</li>
								<li id="newspaper_278437">
					<label>
						<input type="checkbox" value="278437" name="newspaper_id[]">
					</label>
					<a class="newspaper_avatar" title="" href="javascript:;">
						<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/07/19/e4ebc992f2f5451c90aa62919b51299d_55x55.jpg" alt="The SPQR Guardian">                    
					</a>
					<div>
							<a href="/en/newspaper/the-spqr-guardian-278437/1" title="The SPQR Guardian" class="dotted">The SPQR Guardian</a>

						<small>
														<img class="flag" src="/images/flags/S/Poland.gif">   
							Poland
						</small>
					</div>
				</li>
								<li id="newspaper_279968">
					<label>
						<input type="checkbox" value="279968" name="newspaper_id[]">
					</label>
					<a class="newspaper_avatar" title="" href="javascript:;">
						<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/08/17/d67cb525110da4aed55242ff1a0131ce_55x55.jpg" alt="Think Swiss">                    
					</a>
					<div>
							<a href="/en/newspaper/think-swiss-279968/1" title="Think Swiss" class="dotted">Think Swiss</a>

						<small>
														<img class="flag" src="/images/flags/S/Switzerland.gif">   
							Switzerland
						</small>
					</div>
				</li>
							</ul>
			<div class="acontrols">
				<a title="Select All" class="aselectall" href="javascript:;">Select All</a>
				<a i18n="You will unsubscribe from the selected newspaper" id="unsubscribeAction" title="Unsubscribe" class="fluid_blue_dark" href="javascript:;"><span>Unsubscribe</span></a>
			</div>
		</div>
			</div>
</div>
<div style="display:none;" id="domain_selector_holder" class="holder">
	<div class="extended-menus">
		<div class="start">
		</div>
		<div class="core">
			<div>
				<div class="bordersep">
					<h2 class="goleft big">News</h2>
					<a class="goright" title="" href="javascript:;"><img onclick="showHideDomainSelector();" alt="" src="/images/parts/icon-close.gif"></a>
				</div>
			</div>
			<ul>
				<li class="last">
										<a href="http://www.erepublik.com/en/main/news/rated/all/Spain/1" onclick="">
		                <img class="icon" title="Top rated" src="http://www.erepublik.com/images/parts/icon_media_toprated.gif">
						Top rated					</a>
				</li>
			</ul>
			<ul class="last">
				<li class="last">
										<a href="http://www.erepublik.com/en/main/news/latest/all/Spain/1" onclick="">
		                <img class="icon" title="Latest" src="http://www.erepublik.com/images/parts/icon_media_latest.gif">
						Latest					</a>
				</li>
			</ul>
			<ul class="last">
				<li class="last">
										<a href="http://www.erepublik.com/en/main/news/military/Spain/1" onclick="">
		                <img class="icon" title="Latest" src="http://www.erepublik.com/images/parts/icon_media_military.gif">
						Latest events					</a>
				</li>
			</ul>
						<ul class="last">
				<li class="last">
										<a href="http://www.erepublik.com/en/main/news/international" onclick="">
		                <img class="icon" title="International" src="http://www.erepublik.com/images/parts/icon_media_international.gif">
						International					</a>
				</li>
			</ul>
						<ul>

				<li class="last">
										<a href="http://www.erepublik.com/en/main/news/subscriptions" onclick="">
		                <img class="icon" title="Subscriptions" src="http://www.erepublik.com/images/parts/icon_media_subscriptions.gif">
						Subscriptions					</a>

				</li>
			</ul>
		</div>
	</div>
</div>
<div style="display:none;" id="country_holder" class="holder">
<div class="extended-menus">
        <div class="start">
        </div>
        <div class="core">
			<div class="bordersep">
				<h2 class="goleft big">Country</h2>
				<a class="goright" title="" href="javascript:;"><img onclick="showHideCountry();" alt="" src="/images/parts/icon-close.gif"></a>
			</div>
																		<ul>
														<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Albania/1" onclick="" class="spaced_small" id="167">
		                <img class="flag" src="/images/flags/M/Albania.gif">   
		                Albania						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Argentina/1" onclick="" class="spaced_small" id="27">
		                <img class="flag" src="/images/flags/M/Argentina.gif">   
		                Argentina						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Australia/1" onclick="" class="spaced_small" id="50">
		                <img class="flag" src="/images/flags/M/Australia.gif">   
		                Australia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Austria/1" onclick="" class="spaced_small" id="33">
		                <img class="flag" src="/images/flags/M/Austria.gif">   
		                Austria						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Belarus/1" onclick="" class="spaced_small" id="83">
		                <img class="flag" src="/images/flags/M/Belarus.gif">   
		                Belarus						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Belgium/1" onclick="" class="spaced_small" id="32">
		                <img class="flag" src="/images/flags/M/Belgium.gif">   
		                Belgium						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Bolivia/1" onclick="" class="spaced_small" id="76">
		                <img class="flag" src="/images/flags/M/Bolivia.gif">   
		                Bolivia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Bosnia-Herzegovina/1" onclick="" class="spaced_small" id="69">
		                <img class="flag" src="/images/flags/M/Bosnia-Herzegovina.gif">   
		                Bosnia and Herzegovina						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Brazil/1" onclick="" class="spaced_small" id="9">
		                <img class="flag" src="/images/flags/M/Brazil.gif">   
		                Brazil						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Bulgaria/1" onclick="" class="spaced_small" id="42">
		                <img class="flag" src="/images/flags/M/Bulgaria.gif">   
		                Bulgaria						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Canada/1" onclick="" class="spaced_small" id="23">
		                <img class="flag" src="/images/flags/M/Canada.gif">   
		                Canada						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Chile/1" onclick="" class="spaced_small" id="64">
		                <img class="flag" src="/images/flags/M/Chile.gif">   
		                Chile						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/China/1" onclick="" class="spaced_small" id="14">
		                <img class="flag" src="/images/flags/M/China.gif">   
		                China						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Colombia/1" onclick="" class="spaced_small" id="78">
		                <img class="flag" src="/images/flags/M/Colombia.gif">   
		                Colombia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Croatia/1" onclick="" class="spaced_small" id="63">
		                <img class="flag" src="/images/flags/M/Croatia.gif">   
		                Croatia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Cyprus/1" onclick="" class="spaced_small" id="82">
		                <img class="flag" src="/images/flags/M/Cyprus.gif">   
		                Cyprus						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Czech-Republic/1" onclick="" class="spaced_small" id="34">
		                <img class="flag" src="/images/flags/M/Czech-Republic.gif">   
		                Czech Republic						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Denmark/1" onclick="" class="spaced_small" id="55">
		                <img class="flag" src="/images/flags/M/Denmark.gif">   
		                Denmark						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Egypt/1" onclick="" class="spaced_small" id="165">
		                <img class="flag" src="/images/flags/M/Egypt.gif">   
		                Egypt						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Estonia/1" onclick="" class="spaced_small" id="70">
		                <img class="flag" src="/images/flags/M/Estonia.gif">   
		                Estonia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Finland/1" onclick="" class="spaced_small" id="39">
		                <img class="flag" src="/images/flags/M/Finland.gif">   
		                Finland						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/France/1" onclick="" class="spaced_small" id="11">
		                <img class="flag" src="/images/flags/M/France.gif">   
		                France						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Germany/1" onclick="" class="spaced_small" id="12">
		                <img class="flag" src="/images/flags/M/Germany.gif">   
		                Germany						</a>
					</li>
																			<li class="last">
												<a href="http://www.erepublik.com/en/main/news/rated/all/Greece/1" onclick="" class="spaced_small" id="44">
		                <img class="flag" src="/images/flags/M/Greece.gif">   
		                Greece						</a>
					</li>
												</ul>
												<ul>
														<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Hungary/1" onclick="" class="spaced_small" id="13">
		                <img class="flag" src="/images/flags/M/Hungary.gif">   
		                Hungary						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/India/1" onclick="" class="spaced_small" id="48">
		                <img class="flag" src="/images/flags/M/India.gif">   
		                India						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Indonesia/1" onclick="" class="spaced_small" id="49">
		                <img class="flag" src="/images/flags/M/Indonesia.gif">   
		                Indonesia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Iran/1" onclick="" class="spaced_small" id="56">
		                <img class="flag" src="/images/flags/M/Iran.gif">   
		                Iran						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Ireland/1" onclick="" class="spaced_small" id="54">
		                <img class="flag" src="/images/flags/M/Ireland.gif">   
		                Ireland						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Israel/1" onclick="" class="spaced_small" id="58">
		                <img class="flag" src="/images/flags/M/Israel.gif">   
		                Israel						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Italy/1" onclick="" class="spaced_small" id="10">
		                <img class="flag" src="/images/flags/M/Italy.gif">   
		                Italy						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Japan/1" onclick="" class="spaced_small" id="45">
		                <img class="flag" src="/images/flags/M/Japan.gif">   
		                Japan						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Latvia/1" onclick="" class="spaced_small" id="71">
		                <img class="flag" src="/images/flags/M/Latvia.gif">   
		                Latvia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Lithuania/1" onclick="" class="spaced_small" id="72">
		                <img class="flag" src="/images/flags/M/Lithuania.gif">   
		                Lithuania						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Malaysia/1" onclick="" class="spaced_small" id="66">
		                <img class="flag" src="/images/flags/M/Malaysia.gif">   
		                Malaysia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Mexico/1" onclick="" class="spaced_small" id="26">
		                <img class="flag" src="/images/flags/M/Mexico.gif">   
		                Mexico						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Montenegro/1" onclick="" class="spaced_small" id="80">
		                <img class="flag" src="/images/flags/M/Montenegro.gif">   
		                Montenegro						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Netherlands/1" onclick="" class="spaced_small" id="31">
		                <img class="flag" src="/images/flags/M/Netherlands.gif">   
		                Netherlands						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/New-Zealand/1" onclick="" class="spaced_small" id="84">
		                <img class="flag" src="/images/flags/M/New-Zealand.gif">   
		                New Zealand						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/North-Korea/1" onclick="" class="spaced_small" id="73">
		                <img class="flag" src="/images/flags/M/North-Korea.gif">   
		                North Korea						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Norway/1" onclick="" class="spaced_small" id="37">
		                <img class="flag" src="/images/flags/M/Norway.gif">   
		                Norway						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Pakistan/1" onclick="" class="spaced_small" id="57">
		                <img class="flag" src="/images/flags/M/Pakistan.gif">   
		                Pakistan						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Paraguay/1" onclick="" class="spaced_small" id="75">
		                <img class="flag" src="/images/flags/M/Paraguay.gif">   
		                Paraguay						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Peru/1" onclick="" class="spaced_small" id="77">
		                <img class="flag" src="/images/flags/M/Peru.gif">   
		                Peru						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Philippines/1" onclick="" class="spaced_small" id="67">
		                <img class="flag" src="/images/flags/M/Philippines.gif">   
		                Philippines						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Poland/1" onclick="" class="spaced_small" id="35">
		                <img class="flag" src="/images/flags/M/Poland.gif">   
		                Poland						</a>
					</li>
																			<li class="last">
												<a href="http://www.erepublik.com/en/main/news/rated/all/Portugal/1" onclick="" class="spaced_small" id="53">
		                <img class="flag" src="/images/flags/M/Portugal.gif">   
		                Portugal						</a>
					</li>
												</ul>
												<ul class="last">
														<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Republic-of-China-Taiwan/1" onclick="" class="spaced_small" id="81">
		                <img class="flag" src="/images/flags/M/Republic-of-China-Taiwan.gif">   
		                Republic of China (Taiwan)						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Republic-of-Macedonia-FYROM/1" onclick="" class="spaced_small" id="79">
		                <img class="flag" src="/images/flags/M/Republic-of-Macedonia-FYROM.gif">   
		                Republic of Macedonia (FYROM)						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Republic-of-Moldova/1" onclick="" class="spaced_small" id="52">
		                <img class="flag" src="/images/flags/M/Republic-of-Moldova.gif">   
		                Republic of Moldova						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Romania/1" onclick="" class="spaced_small" id="1">
		                <img class="flag" src="/images/flags/M/Romania.gif">   
		                Romania						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Russia/1" onclick="" class="spaced_small" id="41">
		                <img class="flag" src="/images/flags/M/Russia.gif">   
		                Russia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Saudi-Arabia/1" onclick="" class="spaced_small" id="164">
		                <img class="flag" src="/images/flags/M/Saudi-Arabia.gif">   
		                Saudi Arabia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Serbia/1" onclick="" class="spaced_small" id="65">
		                <img class="flag" src="/images/flags/M/Serbia.gif">   
		                Serbia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Singapore/1" onclick="" class="spaced_small" id="68">
		                <img class="flag" src="/images/flags/M/Singapore.gif">   
		                Singapore						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Slovakia/1" onclick="" class="spaced_small" id="36">
		                <img class="flag" src="/images/flags/M/Slovakia.gif">   
		                Slovakia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Slovenia/1" onclick="" class="spaced_small" id="61">
		                <img class="flag" src="/images/flags/M/Slovenia.gif">   
		                Slovenia						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/South-Africa/1" onclick="" class="spaced_small" id="51">
		                <img class="flag" src="/images/flags/M/South-Africa.gif">   
		                South Africa						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/South-Korea/1" onclick="" class="spaced_small" id="47">
		                <img class="flag" src="/images/flags/M/South-Korea.gif">   
		                South Korea						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Spain/1" onclick="" class="spaced_small" id="15">
		                <img class="flag" src="/images/flags/M/Spain.gif">   
		                Spain						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Sweden/1" onclick="" class="spaced_small" id="38">
		                <img class="flag" src="/images/flags/M/Sweden.gif">   
		                Sweden						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Switzerland/1" onclick="" class="spaced_small" id="30">
		                <img class="flag" src="/images/flags/M/Switzerland.gif">   
		                Switzerland						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Thailand/1" onclick="" class="spaced_small" id="59">
		                <img class="flag" src="/images/flags/M/Thailand.gif">   
		                Thailand						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Turkey/1" onclick="" class="spaced_small" id="43">
		                <img class="flag" src="/images/flags/M/Turkey.gif">   
		                Turkey						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Ukraine/1" onclick="" class="spaced_small" id="40">
		                <img class="flag" src="/images/flags/M/Ukraine.gif">   
		                Ukraine						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/United-Arab-Emirates/1" onclick="" class="spaced_small" id="166">
		                <img class="flag" src="/images/flags/M/United-Arab-Emirates.gif">   
		                United Arab Emirates						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/United-Kingdom/1" onclick="" class="spaced_small" id="29">
		                <img class="flag" src="/images/flags/M/United-Kingdom.gif">   
		                United Kingdom						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/Uruguay/1" onclick="" class="spaced_small" id="74">
		                <img class="flag" src="/images/flags/M/Uruguay.gif">   
		                Uruguay						</a>
					</li>
																			<li>
												<a href="http://www.erepublik.com/en/main/news/rated/all/USA/1" onclick="" class="spaced_small" id="24">
		                <img class="flag" src="/images/flags/M/USA.gif">   
		                USA						</a>
					</li>
																			<li class="last">
												<a href="http://www.erepublik.com/en/main/news/rated/all/Venezuela/1" onclick="" class="spaced_small" id="28">
		                <img class="flag" src="/images/flags/M/Venezuela.gif">   
		                Venezuela						</a>
					</li>
												</ul>
									 		</div>
	</div>
</div>

 
 
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">337</span>
				<span class="value">337</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/-spqr-el-duelo-argentina-vs-chile-y-macedonia-iquest-el-fin-de-un-imperio-d-iacute-a-1780-2133286/1/20" class="dotted">
					[SPQR] El Duelo Argentina vs Chile y, Macedonia ¿El Fin de un Imperio? día 1780					</a>
				</p>
				<div class="article_details">
						<small>2 days ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/warfare-analysis/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_3.png">
								Warfare analysis</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/the-spqr-guardian-278437/1" class="dotted">
			The SPQR Guardian</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/07/19/e4ebc992f2f5451c90aa62919b51299d_55x55.jpg" alt="The SPQR Guardian">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">166</span>
				<span class="value">166</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/-boe-presentaci-oacute-n-esp-eus-cat-gal-1-2133662/1/20" class="dotted">
					[BOE] Presentación (ESP-EUS-CAT-GAL)					</a>
				</p>
				<div class="article_details">
						<small>22 hours ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/political-debates-and-analysis/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_4.png">
								Political debates and analysis</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/comunicacion-boe-28942/1" class="dotted">
			Comunicacion - BOE</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2008/03/12/938abaff15ddc97965b156b23136c1c9_55x55.jpg" alt="Comunicacion - BOE">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">120</span>
				<span class="value">120</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/-bod-nuevo-equipo-de-defensa-y-bolet-iacute-n-d-iacute-a-1783--2133719/1/20" class="dotted">
					[BoD] Nuevo Equipo de Defensa y Boletín día 1783. 					</a>
				</p>
				<div class="article_details">
						<small>20 hours ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/battle-orders/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_2.png">
								Battle orders</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/boletin-de-defensa-28761/1" class="dotted">
			Boletin de Defensa</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2008/03/12/d8769c1fdeb8834c6a4808a11fb2716a_55x55.jpg" alt="Boletin de Defensa">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">104</span>
				<span class="value">104</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/erdto-resultado-electoral-2133495/1/20" class="dotted">
					eRdTO: Resultado electoral					</a>
				</p>
				<div class="article_details">
						<small>yesterday</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/political-debates-and-analysis/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_4.png">
								Political debates and analysis</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/el-rincon-de-toberro-263223/1" class="dotted">
			El rincon de toberro</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2011/10/05/e62f74693388cd96730d93ef7b34f81e_55x55.jpg" alt="El rincon de toberro">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">95</span>
				<span class="value">95</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/-econom-iacute-a-despedida-final-y-balance-de-la-gesti-oacute-n-2133473/1/20" class="dotted">
					[Economía] Despedida final y balance de la gestión					</a>
				</p>
				<div class="article_details">
						<small>yesterday</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/financial-business/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_5.png">
								Financial business</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/ministerio-de-economia-178739/1" class="dotted">
			Ministerio de Economia</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2008/10/27/efafa4206c4825a4630a827659cefd5c_55x55.jpg" alt="Ministerio de Economia">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">68</span>
				<span class="value">68</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/-aaee-fin-de-la-legislatura--2133291/1/20" class="dotted">
					[AAEE] Fin de la legislatura.					</a>
				</p>
				<div class="article_details">
						<small>2 days ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/political-debates-and-analysis/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_4.png">
								Political debates and analysis</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/boletin-de-aaee-2706/1" class="dotted">
			Boletin de AAEE</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2008/01/02/2e74c2cf88f68a68c84e9509abc7ea56_55x55.jpg" alt="Boletin de AAEE">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">62</span>
				<span class="value">62</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/8-ordf-edici-oacute-n-ofertas-en-erepublik-2133113/1/20" class="dotted">
					8ª Edición. Ofertas en eRepublik					</a>
				</p>
				<div class="article_details">
						<small>2 days ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/financial-business/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_5.png">
								Financial business</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/gold-a-la-vista-281556/1" class="dotted">
			Gold a la vista</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/09/21/bcb34fe3289747645fce5d4a79bf0ca5_55x55.jpg" alt="Gold a la vista">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">56</span>
				<span class="value">56</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/-1782-indignaci-n-por-el-boe-k--2133924/1/20" class="dotted">
					[1782] Indignación por el BoE [KÑ]					</a>
				</p>
				<div class="article_details">
						<small>14 hours ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/first-steps-in-erepublik/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_1.png">
								First steps in eRepublik</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/the-daily-korunho-280375/1" class="dotted">
			The Daily korunho</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/08/25/da440d67cd1a2d5c5e5e6d758988616b_55x55.jpg" alt="The Daily korunho">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">43</span>
				<span class="value">43</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/los-hospitales-siguen-funcionando--2134063/1/20" class="dotted">
					Los HOSPITALES siguen funcionando!					</a>
				</p>
				<div class="article_details">
						<small>6 hours ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/first-steps-in-erepublik/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_1.png">
								First steps in eRepublik</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/el-edesneuralizador-278235/1" class="dotted">
			El eDesneuralizador</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/07/16/ff0b976a3aa31a0c577c48821dd04eaf_55x55.jpg" alt="El eDesneuralizador">                    
	</div>
</div>
<div class="holder bordersep">
	<div style="width:490px;" class="box goleft">
		<div style="width:490px;" class="item">
			<div class="rankholder">
				<span class="shadow">41</span>
				<span class="value">41</span>
			</div>
			<div style="width:430px;" class="holder">
				<p style="overflow:hidden;width:430px;">
					<a href="http://www.erepublik.com/en/article/un-laaaargo-comienzo-2133344/1/20" class="dotted">
					Un laaaargo comienzo					</a>
				</p>
				<div class="article_details">
						<small>2 days ago</small>
															<span></span>
						
					<small>
										posted in:	
															
							<a title="" href="http://www.erepublik.com/en/main/news/rated/social-interactions-and-entertainment/Spain/1">
								<img alt="" src="http://www.erepublik.com/images/modules/news/icons/cat_6.png">
								Social interactions and entertainment</a>
						</small>
						<span></span>
						<small>
											<img alt="" src="/images/flags/S/Spain.gif">
						Spain						</small>
				</div>
			</div>
		</div>
	</div>
	<div class="newspaperinf goright">
		<div class="nameholder">
			<a href="http://www.erepublik.com/en/newspaper/cronicas-del-novato-282233/1" class="dotted">
			Cronicas del novato</a>						
		</div>
		<img width="55" height="55" src="http://static.erepublik.com/uploads/avatars/Newspapers/2012/10/05/8332abb0189818c019560463fee07dc6_55x55.jpg" alt="Cronicas del novato">                    
	</div>
</div>

<div style="float:right; margin-top: 10px;"> 
 
    
    <a class="rss_articles" href="http://www.erepublik.com/en/main/news/rated/all/Spain/1/rss">Subscribe to  all  articles  from Spain</a>
</div>
<ul class="pager">
	<li><a title="Go to page 1" class="on" href="/en/main/news/rated/all/Spain/1" rel="page_1" trigger="paginator">1</a></li><li><a title="Go to page 2" href="/en/main/news/rated/all/Spain/2" rel="page_2" trigger="paginator">2</a></li><li><a title="Go to next page" class="next" href="/en/main/news/rated/all/Spain/2" rel="page_2" trigger="paginator">Next</a></li><li><a title="Go to page 2" class="last" href="/en/main/news/rated/all/Spain/2" rel="page_2" trigger="paginator"></a></li></ul>
			