<div>
	
<h1>Companies</h1>

<table style="width: 100%; margin-left: auto; margin-right: auto;" class="dataTable">
	<tbody>
		<tr>
			<td>Company</td>
			<td>Product</td>
			<td>Location</td>
			<td>Employees</td>
		</tr>
		<tr>
			<td class="biggerFont" style="text-align: center" colspan="4">
				<% for(k in companies){ var company=companies[k];%>
					<tr>
						<td>
							<a href="company.htm?id=<%=company.id%>" style="font-weight: bold">
								<%=company.name%>
							</a>
						</td> 
						<td>
							<div class="product">
								<div>
									<img src="images/productIcons/<%=company.product.name%>.png" title="">
									<img src="images/productIcons/q<%=company.quality%>.png" title="">
								</div>
							</div>
						 </td> 
						<td> 
							<strong>
								<div class="flags-small <%=company.country.name%>"></div>
								<%=company.country.name%>- <a href="region.html?id=<%=company.region.id%>"><%=company.region.name%></a>
							</strong>
						</td> 
						<td>
							<b class="biggerFont">
								0
							</b>
						</td> 
					</tr>
				<%}%>
				<% if(companies.length==0){%>
					No companies
				<%}%>
			</td>
		</tr>
	</tbody>
</table>

	<br>
	<div style="width:400px;" class="testDivblue ">
		<h2>
			<b style="font-size: 13px">Create new company</b>
		</h2>
		
		<form id="createCompanyForm" class="validatedForm" action="company.php" method="POST" novalidate="novalidate">
		
			<label>
				<strong style="display:block">Company name:</strong>
				<input id="name" name="name" class="required" minlength="3" maxlength="32" type="text">
			</label>
			
			<strong style="display:block">Product type:</strong>
			<select id="resource" name="resource">
					<%for(k in resources){ var resource=resources[k]%>
		         	   <option value="<%=resource.id%>" data-type="resource"><%=resource.name%></option>
					<%}%>
					<%for(k in products){ var product=products[k]%>
		         	   <option value="<%=product.id%>" data-type="product"><%=product.name%></option>
					<%}%>
			</select>
			<input type="hidden" name="productType" id="productType" value="resource" />
			<p>
				<input type="submit" value="Create company">
			</p>
			<p>
				<strong>
					The company will be created in your current location - region
					<a href="region.htm?id=<%=region.id%>"><%=region.name%></a>
				</strong>
			</p>
		</form>
		<p>
			Creating company costs <div class="flags-small Gold"></div> <b><%=goldCost%></b> Gold
		</p>
		To browse regions with resources, <a href="map.html">click here</a><br>
		
		<p style="clear: both"></p>
	</div>

	<div style="text-align:center">
		<img align="absmiddle" src="images/wiki.png">
		<a target="_blank" style="font-weight: bold" href="http://wiki/index.php/Company">Company tutorial on wiki</a>
	</div>
	<script type="text/javascript">
		$('#resource').on('change',function(){
			var type=$(this).data('type');
			
			$('#productType').val(type);
		});
		$('#createCompanyForm').on('submit',function(){
			var name=$('#name').val(),
				resource=$('#resource').val();
			
			if(name.length<5){
				alert('Name too short');
				return false;
			}
			if(User.info.gold<<%=goldCost%>){
				alert('no gold enough');
				return false;
			}
		});
	</script>
	
</div>