
	<div id="showTutorial" style="width:520px;height:30px;line-height:13px;" class="testDivblue ">
		<h1><span></span>Work</h1>
	<p style="clear: both"></p> </div>
	<br>
	
	<% if(job){%>
	<div id="workContainer" style="width:520px;" class="testDivblue ">
		<table style="text-align: middle; vertical-align: middle; width: 580px">
			<tbody>
				<tr>
					<td style="width: 130px">
						<div class="blueLabel" id="unitStatusHead">
							<a href="company.html?id=16278" style="font-weight: bold"><%=job.company.name%></a>
						</div>
						<div class="blueLabel unitStatusOptions">
						<form id="leaveWorkForm" method="POST">
							<input type="hidden" value="leave" name="action">
							<a href="#" onclick="document.getElementById('leaveWorkForm').submit();">Leave job</a>
						</form>
						</div>
					</td>
					<td class="biggerFont">
						<div style="width: 270px; float: left; text-align: left;margin-left:5px;">
							<table style="width:265px;">
								<tbody>
									<tr>
										<td style="width:90px;"><div class="statsLabel smallStatsLabel"><b>Country / region</b></div></td>
										<td>
											<div class="statsLabelRight smallStatsLabel blueLabel">
												<b>
													<div class="flags-small <%=job.company.country.name%>"></div> <%=job.company.country.name%> - <a href="region.html?id=<%=job.company.region.id%>"><%=job.company.region.name%></a>
												</b>
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="statsLabel smallStatsLabel"><b>Salary</b></div></td> 
										<td><div class="statsLabelRight smallStatsLabel blueLabel"><b><%=job.salary%> ESP</b></div></td>
									</tr>
									<tr>
										<td>
											<div class="statsLabel smallStatsLabel"><b>Resource</b></div>
										</td>
										<td>
											<div class="productLabelRight">
												<div class="product">
													<div>
														<img src="images/productIcons/<%=job.company.product.name%>.png" title="">
														<img src="images/productIcons/q<%=job.company.quality%>.png" title="">
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="blueLabel" id="militaryLeader">
							<a href="profile.html?id=<%=job.company.owner.id%>"><%=job.company.owner.nick%></a>   <div class="flags-small Spain"></div>
							<br> 
							<img style="width:40px; height:40px; border:1px solid #888;" src="images/blank-avatar.png">  
							<br>
							<b style="color: #111">Employer</b>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
				
		<% if(job.hasWorked && job.productivity!==undefined){ %>
		
		<div id="workResultsContainer" style="width:460px;" class="testDivblue ">
			<h3 style="text-align:center;">Todays work results</h3>
			<table class="attributesTable"> 
				<tbody>
					<tr> 
	                    <td style="width:200px"><b>Your Gross salary:</b></td> 
	                    <td style="width:260px">
							<div style="height:21px;" class="statsLabel smallStatsLabel blueLabel">
								<b>
									<div class="flags-small Spain"></div>
										<b><%=job.salary%></b> ESP
								</b>
							</div>
						</td> 
	                </tr>
	                <tr> 
	                    <td><b>Your Net salary:</b></td> 
	                    <td><div style="height:21px;" class="statsLabel smallStatsLabel blueLabel"><b><div class="flags-small Spain"></div> <b><%=job.salary%></b> ESP</b></div></td> 
	                </tr>
	                <tr> 
	                    <td><b>Income tax paid:</b></td> 
	                    <td><div style="height:21px;" class="statsLabel smallStatsLabel blueLabel"><b><div class="flags-small Spain"></div> <b>1.17</b> ESP</b></div></td> 
	                </tr>
				<tr>
					<td> &nbsp; </td> 
					<td> </td> 
				</tr>
				<tr> 
					<td><b>XP gained:</b></td> 
					<td><div class="statsLabel smallStatsLabel greenLabel"><b> +5</b></div></td> 
				</tr>
				<tr> 
					<td><b>Economy skill gained:</b></td> 
					<td><div class="statsLabel smallStatsLabel greenLabel"><b> +0.25</b></div></td> 
				</tr>
				<tr> 
					<td> &nbsp; </td> 
					<td> </td> 
				</tr>
				<tr> 
					<td><b>Productivity:</b></td> 
					<td><div class="statsLabel smallStatsLabel blueLabel"><b><%=job.productivity%></b></div></td> 
				</tr>
				<tr> 
					<td><b>Units produced:</b></td> 
					<td><div class="statsLabel smallStatsLabel blueLabel"><b><%=job.createdUnits%></b></div></td> 
				</tr>
				<tr> 
					<td> &nbsp;  </td> 
					<td> </td> 
				</tr>
			</tbody>
			</table>
		</div>
		<% }else if(job.hasWorked){ %>
			<b class="workNotify">You have already worked today</b>
		<% }else{ %>
			<b class="workNotify">You have not worked today</b>
			
			<form id="workForm" action="work.html" method="POST">
				<input type="hidden" value="work" name="action">
				<div style="text-align: center"><input type="submit" value="Work now"></div>
			</form>
		<% } %>            
		<p style="clear: both"></p>
		<br>
		<br>
	</div>
	
	<% }else{ %>
		<div style="width:320px;" class="testDivblue ">
			<b>You don't have a job</b>
			<p>
				<a href="jobMarket.htm">Go to job market</a>
			</p>
			<p>- or -</p>
			<a href="companies.htm">Create a company</a>
			<p style="clear: both"></p>
		</div>
	<% } %>