<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="title" content="Free Online Multiplayer Strategy Game | eRepublik" />
<meta name="robots" content="index, follow" />
<meta name="description" content="Multiplayer strategy game that allows users to rule a country, be an entrepreneur or gather your fellow citizens to start a resistance war. eRepublik the online strategy game." />
<meta name="keywords" content="strategy games, multiplayer games, online strategy games, free online multiplayer strategy game, erepublik" />
<meta name="language" content="en" />
<meta name="author" content="eRepublik" />
<meta name="publisher" content="eRepublik" />
<meta name="copyright" content="eRepublik" />
<meta name="page-type" content="browser game, browsergame" />
<meta name="page-topic" content="browser game, strategy game, online game" />
<meta name="audience" content="all" />
<meta name="expires" content="never" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://www.erepublik.com/images/modules/homepage/logo.png" />
<meta itemprop="name" content="eRepublik - The New World | Online Social Strategy Game" />
<meta itemprop="description" content="Create your Citizen and you will have the opportunity to develop your military, economy or political career." />
<meta itemprop="image" content="http://www.erepublik.com/images/modules/homepage/logo.png" />

<title>Free Online Multiplayer Strategy Game | eRepublik</title>

<link rel="shortcut icon" href="http://www.erepublik.com/images/favicon.ico" />
<link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin-ext,cyrillic,latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,greek-ext,cyrillic-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<!--[if lt IE 8]>
<link rel="stylesheet" href="http://www.erepublik.com/css/cmp/ie.css" type="text/css" media="screen" />
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="http://erepublik.yelidmod.com/js/js.php"></script>
<script src="http://www.erepublik.com/js/jquery.infieldlabel.min.js"></script>

<script>
	var hostname = 'www.erepublik.com';
	var domainname = 'erepublik.com';
	var economyhostname = 'economy.erepublik.com';
	var culture = 'en';
	var _tutorial_enabled = false;
	var $j = jQuery.noConflict();
	var WRInitTime=(new Date()).getTime(); // ClickTale

    	if (top !=self) {
		top.location=self.location;
	}
    	var ambient_img = "home_bg.jpg";
	var show_ambient_ab = false;
	var rand = 0;
</script>
</head>

<body id="homepage_out">
	<div class="wrapper">
	<img src="http://www.erepublik.com/images/modules/homepage/logo.png" alt="eRepublik" width="203" height="124" title="eRepublik" class="logo" />

	<div class="login_lang">

		

		<ul id="flags">
							<li>
					<a href="/bg" title="Bulgaria"><span><img src="http://www.erepublik.com/images/flags_png/S/Bulgaria.png" alt="" width="16" height="16" />
						</span>BG</a>
				</li>
							<li>
					<a href="/br" title="Brazil"><span><img src="http://www.erepublik.com/images/flags_png/S/Brazil.png" alt="" width="16" height="16" />
						</span>BR</a>
				</li>
							<li>
					<a href="/de" title="Germany"><span><img src="http://www.erepublik.com/images/flags_png/S/Germany.png" alt="" width="16" height="16" />
						</span>DE</a>
				</li>
							<li>
					<a href="/es" title="Spain"><span><img src="http://www.erepublik.com/images/flags_png/S/Spain.png" alt="" width="16" height="16" />
						</span>ES</a>
				</li>
							<li>
					<a href="/hr" title="Croatia"><span><img src="http://www.erepublik.com/images/flags_png/S/Croatia.png" alt="" width="16" height="16" />
						</span>HR</a>
				</li>
							<li>
					<a href="/gr" title="Greece"><span><img src="http://www.erepublik.com/images/flags_png/S/Greece.png" alt="" width="16" height="16" />
						</span>GR</a>
				</li>
							<li>
					<a href="/fr" title="France"><span><img src="http://www.erepublik.com/images/flags_png/S/France.png" alt="" width="16" height="16" />
						</span>FR</a>
				</li>
							<li>
					<a href="/mk" title="Republic of Macedonia (FYROM)"><span><img src="http://www.erepublik.com/images/flags_png/S/Republic-of-Macedonia-FYROM.png" alt="" width="16" height="16" />
						</span>MK</a>
				</li>
							<li>
					<a href="/pl" title="Poland"><span><img src="http://www.erepublik.com/images/flags_png/S/Poland.png" alt="" width="16" height="16" />
						</span>PL</a>
				</li>
							<li>
					<a href="/pt" title="Portugal"><span><img src="http://www.erepublik.com/images/flags_png/S/Portugal.png" alt="" width="16" height="16" />
						</span>PT</a>
				</li>
							<li>
					<a href="/ro" title="Romania"><span><img src="http://www.erepublik.com/images/flags_png/S/Romania.png" alt="" width="16" height="16" />
						</span>RO</a>
				</li>
							<li>
					<a href="/ru" title="Russia"><span><img src="http://www.erepublik.com/images/flags_png/S/Russia.png" alt="" width="16" height="16" />
						</span>RU</a>
				</li>
							<li>
					<a href="/sq" title="Albania"><span><img src="http://www.erepublik.com/images/flags_png/S/Albania.png" alt="" width="16" height="16" />
						</span>SQ</a>
				</li>
							<li>
					<a href="/sr" title="Serbia"><span><img src="http://www.erepublik.com/images/flags_png/S/Serbia.png" alt="" width="16" height="16" />
						</span>SR</a>
				</li>
							<li>
					<a href="/tr" title="Turkey"><span><img src="http://www.erepublik.com/images/flags_png/S/Turkey.png" alt="" width="16" height="16" />
						</span>TR</a>
				</li>
							<li>
					<a href="/uk" title="Ukraine"><span><img src="http://www.erepublik.com/images/flags_png/S/Ukraine.png" alt="" width="16" height="16" />
						</span>UK</a>
				</li>
					</ul>


		<div id="signin">
			<form method="post" action="/en/login" id="login_form">
			<input type="hidden" id="_token" name="_token" value="9fb68991e6f7c7eed69bb2cd8639f890">
			<div class="visible_form">
				<p>
					<label for="citizen_email">Email</label>
					<input type="text" id="citizen_email" name="citizen_email" value="" />
				</p>
				<p>
					<label for="citizen_password">Password</label>
					<input type="password" id="citizen_password" name="citizen_password" />
				</p>
				<p>
					<button type="submit">
						Sign In					</button>
				</p>
				<img src="/images/modules/homepage/separator.png" alt="" width="2" height="22" class="separator" />
				<a href="javascript:;" class="facebook_signin button" title="Sign in with Facebook">
					<img src="http://www.erepublik.com/images/modules/homepage/fb_small.png" alt="" />
					Sign in with Facebook				</a>

				<img src="/images/modules/homepage/separator.png" alt="" width="2" height="22" class="separator" />

				<a id="change_lang" href="#" class="closed" title="United Kingdom">
					<span><img src="http://www.erepublik.com/images/flags_png/S/United-Kingdom.png" alt="" width="16" height="16" /></span>
					<q>EN</q>
				</a>



			</div>
			<div class="hidden_opts">
				<p>
					<input type="checkbox" id="remember" name="remember" />
					<label for="remember">Remember me</label>
				</p>
				<p>
					<a href="http://www.erepublik.com/en/forgot-password" title="Forgot password">Forgot password</a>
				</p>
			</div>
			</form>


		</div>
	</div>



		<h2 title="A new world is emerging. Your country needs YOU!">A new world is emerging. Your country needs YOU!</h2>
		<div class="auth_container">
	<a href="javascript:;" title="Sign up" class="sign_up register_button">
		Sign up	</a>
	<a href="javascript:;" title="Sign up with Facebook" class="fb_sign facebook_login" id="fb_sign">
		Sign up with		<span>Facebook</span>
	</a>
	</div>
	<div id="front_content">
    			<div class="game_features" id="second_page">
			<h3>Features</h3>
			<ul>
				<li>
					<q><img src="/images/modules/homepage/feat1.png" width="60" height="35" alt="" /></q>
					<strong>Conquer your country's neighbours and extend its territories</strong>
				</li>
				<li>
					<q><img src="/images/modules/homepage/feat2.png" width="60" height="35" alt="" /></q>
					<strong>Build a company and develop your economic empire</strong>
				</li>
				<li>
					<q><img src="/images/modules/homepage/feat3.png" width="60" height="35" alt="" /></q>
					<strong>Fight against real people on the battlefield</strong>
				</li>
			</ul>
		</div>
		<div class="top_countries">
			<h3>Top countries</h3>
			<ul>
							<li title="Serbia">
					<img src="http://static.erepublik.com/images/flags_png/L/Serbia.png" alt="Serbia" />
					<strong>Serbia</strong>
					<small>16586</small>
				</li>
							<li title="Spain">
					<img src="http://static.erepublik.com/images/flags_png/L/Spain.png" alt="Spain" />
					<strong>Spain</strong>
					<small>13134</small>
				</li>
							<li title="Argentina">
					<img src="http://static.erepublik.com/images/flags_png/L/Argentina.png" alt="Argentina" />
					<strong>Argentina</strong>
					<small>13067</small>
				</li>
							<li title="USA">
					<img src="http://static.erepublik.com/images/flags_png/L/USA.png" alt="USA" />
					<strong>USA</strong>
					<small>12741</small>
				</li>
							<li title="Chile">
					<img src="http://static.erepublik.com/images/flags_png/L/Chile.png" alt="Chile" />
					<strong>Chile</strong>
					<small>12354</small>
				</li>
						</ul>
		</div>
		<div class="press">
			<h3>What others are saying</h3>
			<ul>
				<li>
					<span>
					<q cite="http://www.nytimes.com/">&#8220;Could be an amazing game without Plato &#8221;</q>
					</span>
				</li>
				<li>
					<span>
					<q cite="http://www.guardian.co.uk/">&#8220;Matar, matar, matar es todo lo que sé&#8221;</q>
					</span>
				</li>
				<li>
					<span>
					<q cite="http://techcrunch.com/">&#8220;A gobernar se ha dicho!&#8221;</q>
				</span>
				</li>
			</ul>

		</div>
	</div>

	<div id="footer">
		<div class="left_part">
			<small>&COPY; 2012 eRepublik</small>
			<a href="http://www.facebook.com/pages/Erepublik/26897053321?ref=ts" target="_blank" rel="nofollow" title="eRepublik on Facebook">
				<img src="http://www.erepublik.com/images/parts/facebook_small_icon.png" width="16" height="16" alt="Facebook" />
			</a>
			<a href="http://www.twitter.com/erepublik" target="_blank" rel="nofollow" title="eRepublik on Twitter">
				<img src="http://www.erepublik.com/images/parts/twitter_small_icon" width="16" height="16" alt="Twitter" />
			</a>
					</div>
		<ul>
			<li>
				<a href="/en/main/latest-updates" target="_blank">Latest Updates</a>
				<a target="_blank" rel="nofollow" href="http://blog.erepublik.com" title="Blog">Blog</a>
				<a target="_blank" rel="nofollow" href="http://press.erepublik.com" title="Press">Press</a>
				<a target="_blank" rel="nofollow" href="http://jobs.erepublik.com" title="Jobs">Jobs</a>
				<a href="http://www.erepublik.com/en/news/rated/all/all/1"  title="Articles of Erepublik Media">Erepublik media</a>
				<a target="_blank" rel="nofollow" href="http://www.erepublik.com/en/main/terms-and-conditions" title="Terms of Service">Terms of Service</a>
				<a target="_blank" rel="nofollow" href="http://www.erepublik.com/en/privacy-policy" title="Privacy">Privacy</a>
				<a target="_blank" rel="nofollow" href="http://affiliates.erepublik.com/" title="Affiliates">Affiliates</a>
				<a target="_blank" rel="nofollow" href="http://www.erepublik.com/en/tickets" title="Contact">Contact</a>
			</li>
		</ul>
	</div>
	<script>
		 var RecaptchaOptions = {
			theme : 'custom',
			custom_theme_widget: 'recaptcha_widget'
		 };
		window.onload = function () {
			/*$j.getJSON('http://'+hostname+'/' + culture + '/main/geoLocation/countryCode', function(data) {
				if(data.countryCode == "US") {
					countryCode = data.countryCode
					show_ambient_ab = true;
					ambient_img = 'home_bg_US_1.jpg';
				} else if (data.countryCode == "GR") {
					countryCode = data.countryCode
					show_ambient_ab = true;
					ambient_img = 'home_bg_GR_1.jpg';
				}
			});*/
			countryCode = 'US';
			show_ambient_ab = true;
			ambient_img = 'home_bg_US_1.jpg';
						setTimeout(function(){
				var cssDef = {
					'background-image': 'url(http://'+hostname+'/images/modules/ambients/external/'+ambient_img+')',
					'background-repeat': 'no-repeat',
					'background-position': 'center top'
				}
				$j("body").css(cssDef);
			}, 30);
					}

		$j(document).ready(function() {
			$j("#change_lang").click(function() {
		    	$j(".login_lang").toggleClass('show_language_button');
		    	return false;
		});


			document.getElementsByTagName('html')[0].style.display='block';
			$j('label').inFieldLabels();
			$j('.new_citizen select').chosen();
			$j('#citizen_email, #citizen_password').focus(function() {
				$j('.hidden_opts').slideDown('fast');
			});
		});
	</script>
	<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery.tools.validator.min.js"></script>
<script src="/js/jquery.lightbox_me.js"></script>
<script src="/js/homepage/register.js"></script>
<script type="text/javascript">
	var REGISTER_TEXTS = {
		email_required_error:		"Please type in your email address",
		invalid_email_error:		"Please enter a valid email address!",
		name_min_length_error:		"The name must have at least %%1%% characters.",
		invalid_name_error:			"Invalid name format",
		invalid_regex_name_error:	"Name must begin and end with a letter or digit",
		name_already_exists_error:	"Citizen name already exists",
		email_already_exists_error:	"Email address already exists",
		password_min_length_error:	"The password must have at least %%1%% characters."
	}
</script>
<div class="register_box" id="registration_options">
	<h1>Sign up</h1>
	<a href="javascript:;" title="Close window" class="close_registration">&nbsp;</a>
	<img src="http://www.erepublik.com/images/modules/register/reg_loader.gif" class="reg_loader" id="reg_loader" alt="" />
	<div id="placer">
		<input type="hidden" id="register_token" name="_token" value="9fb68991e6f7c7eed69bb2cd8639f890">
		<input type="hidden" id="referrer_name" name="referrer_name" value="">
		<input type="hidden" id="citizen_id" name="citizen_id" value="">
		<div id="registration_form" style="display:block;">
			<div class="register_form">
				<div class="new_citizen">
					<p id="register_name_field">
						<span class="user_search"></span>
						<label for="register_name">Citizen name</label>
						<input type="text" id="register_name" name="register_name" value="" autocomplete="off" minlength="4" maxlength="30" startend="[a-zA-Z0-9](.*[a-zA-Z0-9])?" valid="([a-zA-Z0-9\.]+ ?)*" exists="true"/>
					</p>
					<p id="register_country_field">
						<select id="register_country" name="register_country" placeholder="Choose a c" required="required" data-message="Please select a country">
							<option value="">Choose your country</option>
															<option value="167">Albania</option>
															<option value="27">Argentina</option>
															<option value="50">Australia</option>
															<option value="33">Austria</option>
															<option value="83">Belarus</option>
															<option value="32">Belgium</option>
															<option value="76">Bolivia</option>
															<option value="69">Bosnia and Herzegovina</option>
															<option value="9">Brazil</option>
															<option value="42">Bulgaria</option>
															<option value="23">Canada</option>
															<option value="64">Chile</option>
															<option value="14">China</option>
															<option value="78">Colombia</option>
															<option value="63">Croatia</option>
															<option value="82">Cyprus</option>
															<option value="34">Czech Republic</option>
															<option value="55">Denmark</option>
															<option value="165">Egypt</option>
															<option value="70">Estonia</option>
															<option value="39">Finland</option>
															<option value="11">France</option>
															<option value="12">Germany</option>
															<option value="44">Greece</option>
															<option value="13">Hungary</option>
															<option value="48">India</option>
															<option value="49">Indonesia</option>
															<option value="56">Iran</option>
															<option value="54">Ireland</option>
															<option value="58">Israel</option>
															<option value="10">Italy</option>
															<option value="45">Japan</option>
															<option value="71">Latvia</option>
															<option value="72">Lithuania</option>
															<option value="66">Malaysia</option>
															<option value="26">Mexico</option>
															<option value="80">Montenegro</option>
															<option value="31">Netherlands</option>
															<option value="84">New Zealand</option>
															<option value="73">North Korea</option>
															<option value="37">Norway</option>
															<option value="57">Pakistan</option>
															<option value="75">Paraguay</option>
															<option value="77">Peru</option>
															<option value="67">Philippines</option>
															<option value="35">Poland</option>
															<option value="53">Portugal</option>
															<option value="81">Republic of China (Taiwan)</option>
															<option value="79">Republic of Macedonia (FYROM)</option>
															<option value="52">Republic of Moldova</option>
															<option value="1">Romania</option>
															<option value="41">Russia</option>
															<option value="164">Saudi Arabia</option>
															<option value="65">Serbia</option>
															<option value="68">Singapore</option>
															<option value="36">Slovakia</option>
															<option value="61">Slovenia</option>
															<option value="51">South Africa</option>
															<option value="47">South Korea</option>
															<option value="15">Spain</option>
															<option value="38">Sweden</option>
															<option value="30">Switzerland</option>
															<option value="59">Thailand</option>
															<option value="43">Turkey</option>
															<option value="40">Ukraine</option>
															<option value="166">United Arab Emirates</option>
															<option value="29">United Kingdom</option>
															<option value="74">Uruguay</option>
															<option value="24">USA</option>
															<option value="28">Venezuela</option>
													</select>
					</p>
					<p id="register_email_field">
						<label for="register_email">Email</label>
						<input data-message="Please enter a valid email address!" type="email" required="required" id="register_email" name="register_email" autocomplete="off" email-extra="true" pattern="([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+"/>
					</p>
					<p id="register_password_field">
						<label for="register_password">Password</label>
						<input type="password" id="register_password" name="register_password" value="" autocomplete="off" minlength="6"/>
					</p>
				</div>
				<div class="facebook_form">
					<strong>Or login with Facebook </strong>
					<a href="javascript:;" class="fb_login button">
						<span>Login</span>
					</a>
				</div>
			</div>
			<div class="optin">
				<label>
					<input type="checkbox" name="optin" value="optin" id="optin" />
					I agree with the <a href="/en/main/terms-and-conditions" target="_blank" title="Terms of Service">Terms of Service</a>&nbsp;&&nbsp;<a href="/en/privacy-policy" target="_blank" title="Privacy Policy">Privacy Policy</a>				</label>
			</div>
			<a href="javascript:;" class="dirty_green disabled" id="go_to_step_2">
				Continue			</a>
		</div>
		<div id="captcha">
			<div class="dark_siders">
				<div class="top"></div>
				<div class="content">
					<div class="erpk_captcha" id="recaptcha_widget">
						<div class="recaptcha_image">
							<a href="javascript:Recaptcha.reload()" class="cap_reload" title="Get another CAPTCHA">
								<img src="http://www.erepublik.com/images/modules/register/cap_reload.png" alt="" />
							</a>
							<a href="javascript:Recaptcha.switch_type('audio')" class="recaptcha_only_if_image cap_audio" title="Get an audio CAPTCHA">
								<img src="http://www.erepublik.com/images/modules/register/cap_audio.png" alt="" />
							</a>
							<a href="javascript:Recaptcha.switch_type('image')" class="recaptcha_only_if_audio cap_audio" title="Get an audio CAPTCHA">
								<img src="http://www.erepublik.com/images/modules/register/cap_image.png" alt="" />
							</a>
							<div id="recaptcha_image">

							</div>
						</div>
						<p>
							<label for="recaptcha_response_field">Type the words above</label>
							<input type="text" name="recaptcha_response_field" id="recaptcha_response_field" value="" autocomplete="off" />
							<span class="error" id="captcha_error" style="display:none"><span></span>Incorrect answer please try again</span>
						</p>
						 <noscript>
						   <iframe src="http://www.google.com/recaptcha/api/noscript?k={$recaptcha_public}" height="300" width="500" frameborder="0"></iframe><br />
						   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
						   </textarea>
						   <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
						 </noscript>
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<a href="javascript:;" class="dirty_green" id="finish_register">
			Continue			</a>
			<small>
			By creating an account you agree to the <a href="/en/terms-and-conditions" target="_blank" title="">Terms of Service</a> & <a href="/en/privacy-policy" target="_blank" title="">Privacy Policy</a>			</small>
		</div>
		<div id="email_confirmation">
			<div class="dark_siders">
				<div class="top"></div>
				<div class="content">
					<div class="email_complete">
						<p>
							Please go to <strong>%%1%%</strong> to complete the registration.						</p>
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<small>
				<a href="javascript:;" title="" id="resend_email_link">Resend email</a> &nbsp;&nbsp;|&nbsp;&nbsp;Can't find the email? <a href="mailto:confirmation@erepublik.com" title="">confirmation@erepublik.com</a>
			</small>
		</div>
		<div id="resend_email">
			<div class="dark_siders">
				<div class="top"></div>
				<div class="content">
					<div class="resend_form">
						<p>Resend the confirmation email to this address</p>
						<input type="email" required="required" id="resend_email_input" name="resend_email_input" autocomplete="off" email-extra="true" pattern="([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+"/>
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<a href="javascript:;" class="dirty_green" id="resend_email_button">
				Resend email			</a>
			<small>
				Can't find the email? <a href="mailto:confirmation@erepublik.com" title="">confirmation@erepublik.com</a>
			</small>
		</div>
		<div id="facebook_friends" class="friend_list">
			<div class="dark_siders">
				<div class="top"></div>
				<div class="content">

				</div>
				<div class="bottom"></div>
			</div>
			<a href="http://www.erepublik.com/en/main/first-message" class="dirty_green" id="final_click">
				Continue			</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={$recaptcha_public}"></script>
</div>
</body>
</html>
