
	<h1>Military training</h1>


	<% if(!hasTrained){%>
		<div style="width:200px;height:42px;" class="testDivblue ">
			<form id="trainForm" action="train.html" method="POST"> 
				<input style="width:100px;height:30px;font-size:14px;" type="submit" value="Train">
			</form>
			<p style="clear: both"></p>
		</div>
	<%}else{ %>
	
		<div style="width:500px;" class="testDivblue"><img src="images/info.png" style="float: left">
			You have already trained today. Please come back tomorrow.<p style="clear: both"></p>
		</div>
		<br>

		<% if(train){%>
		<div style="width:500px;" class="testDivblue ">
			<b class="biggerFont">You have already trained today. Please come back tomorrow.</b><br>
			<br>
			<div style="font-weight: bold; font-size: 14px;">Strength gained: <b style="color: #090;">+<%=train.strengh%></b> </div>
			<br>
			<div style="font-weight: bold; font-size: 14px;">Total training sessions: <b style="color: #090;"><%=train.trainedDays%></b> </div>
			<br>		
			<p style="clear: both"></p>
		</div>
		<% } %>
	<% }%>
	
	
	<br>
	<div style="width:500px;min-height:220px;text-align:center;" class="testDivwhite ">
    
            <div id="profileEquipment" style="width:210px;float:left;height:200px; background:url(images/equipmentIcons/equipment-back.png) no-repeat -9px 9px;" class="testDivwhite ">
                            <div class="equipmentBox"><div class="equipmentBack q0"><div title="No item" class="help class equipmentImage "></div></div></div>
                            <div class="equipmentBox"><div class="equipmentBack q1"><div title="&lt;div class=&quot;equipmentBack q1&quot; style=&quot;float:left;margin:0px;&quot;&gt;
											&lt;div class=&quot;equipmentImage vision1&quot;&gt;&lt;/div&gt;
											&lt;/div&gt;
											&lt;div class=&quot;equipmentBlueBox&quot;&gt;	&lt;b&gt;Q1 Vision&lt;/b&gt;&lt;/div&gt;
											&lt;div class=&quot;tooltipDiv&quot;&gt;&lt;b&gt;Sun goggles (#1066847)&lt;/b&gt;&lt;/div&gt;
											&lt;div class=&quot;miniEquipmentRedCap&quot;&gt;&lt;img src=&quot;images/equipmentIcons/criticalHit.png&quot;&gt;&lt;/div&gt;&lt;p class=&quot;miniStatsName&quot;&gt;- Increase critical chance by 0.44%&lt;/p&gt;
											&lt;div class=&quot;miniEquipmentRedCap&quot;&gt;&lt;img src=&quot;images/equipmentIcons/damage.png&quot;&gt;&lt;/div&gt;&lt;p class=&quot;miniStatsName&quot;&gt;- Increase damage by 0.41%&lt;/p&gt;
											" class="help class equipmentImage vision1">
	
								</div></div>
							</div>
                            <div class="equipmentBox"><div class="equipmentBack q0"><div title="No item" class="help class equipmentImage "></div></div></div>
                            <div class="equipmentBox"><div class="equipmentBack q0"><div title="No item" class="help class equipmentImage "></div></div></div>
                            <div class="equipmentBox"><div class="equipmentBack q0"><div title="No item" class="help class equipmentImage "></div></div></div>
            <p style="clear: both"></p>
			</div>
            <div class="eqStats" style="float:left;margin-left:10px; width:255px;min-height:210px;">
                            <b style="display:block;" class="biggerFont">Equipment Stats:</b>
                            <div style="width:100%; height:54px;font-size:11px;line-height:20px;">
                                    <div class="statsName2">
                                            <b>Damage:</b>
                                    </div>

						            <div id="hitTooltip" class="ui-tooltip ui-widget ui-widget-content ui-corner-all" style="width:215px;display:none;position:absolute;z-index:100;">	
							            <div style="min-height: 25px;">
								            <div class="statsLabel smallDescLabel"><b>Base hit</b></div>
								            <div class="statsLabelRight descStatsLabel blueLabel"><b>720 / 1080</b></div>
							            </div>
							            
							            <div style="min-height: 25px;">
								            <div class="statsLabel smallDescLabel"><b>Damage increased bonus</b></div>
								            <div class="statsLabelRight descStatsLabel blueLabel"><b>2 / 4</b></div>
							            </div>
							            
							            <div style="min-height: 25px;">
								            <div class="statsLabel smallDescLabel"><b>Your hit</b></div>
								            <div class="statsLabelRight descStatsLabel blueLabel"><b>722 / 1084</b></div>
							            </div>
						            
						            </div>

						            <div id="hitHelp" title="" tooltip="hitTooltip" class="help equipmentBlueBox">
						                    <b style="margin-left:4px">722 </b> / 
						                    <b style="margin-right:4px">1,084</b>
						            </div>
						            <div class="statsName2">
						                    <b>Critical hit:</b>
						            </div>
						            <div class="equipmentBlueBox">
						                    <b style="margin-left:4px">1,444</b> / <b style="margin-right:4px">2,168</b>
						            </div>
                            </div>
                            <div style="width:100%;height:130px;">
                                    <div class="statsName">
                                            <img align="absmiddle" src="images/help.gif" class="help" title="Your damage is doubled when performing a critical hit.">
                                            <b style="line-height:32px">Critical Hit chance:</b>
                                    </div>

            <div id="criticalTooltip" class="ui-tooltip ui-widget ui-widget-content ui-corner-all" style="width:215px;display:none;position:absolute;z-index:100;">
	            <div style="min-height: 25px;">
		            <div style="width:150px;" class="statsLabel smallDescLabel"><b>Base critical chance</b></div>
		            <div class="statsLabelRight descStatsLabel blueLabel"><b>12.5 %</b></div>
	            </div>
	            
		            <div style="min-height: 25px;">
			            <div style="width:150px;" class="statsLabel smallDescLabel"><b><img class="help" title="&lt;div class=&quot;equipmentBack q1&quot; style=&quot;float:left;margin:0px;&quot;&gt;
&lt;div class=&quot;equipmentImage vision1&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;equipmentBlueBox&quot;&gt;	&lt;b&gt;Q1 Vision&lt;/b&gt;&lt;/div&gt;
&lt;div class=&quot;tooltipDiv&quot;&gt;&lt;b&gt;Sun goggles (#1066847)&lt;/b&gt;&lt;/div&gt;
&lt;div class=&quot;miniEquipmentRedCap&quot;&gt;&lt;img src=&quot;images/equipmentIcons/criticalHit.png&quot;&gt;&lt;/div&gt;&lt;p class=&quot;miniStatsName&quot;&gt;- Increase critical chance by 0.44%&lt;/p&gt;
&lt;div class=&quot;miniEquipmentRedCap&quot;&gt;&lt;img src=&quot;images/equipmentIcons/damage.png&quot;&gt;&lt;/div&gt;&lt;p class=&quot;miniStatsName&quot;&gt;- Increase damage by 0.41%&lt;/p&gt;
" src="images/equipmentIcons/vision1-small.png"> </b></div>
			            <div class="statsLabelRight descStatsLabel greenLabel"><b>+0.44 %</b></div>
		            </div>
	            
		        <div style="min-height: 25px;">
		            <div style="width:150px;" class="statsLabel smallDescLabel"><b>Total critical chance</b></div>
		            <div class="statsLabelRight descStatsLabel blueLabel"><b>12.94 %</b></div>
	            </div>
            </div>

                    <div id="criticalHelp" tooltip="criticalTooltip" title="" class="help equipmentBlueCap">
                                            <b class="equipmentStats">12.94%</b>
                                            <div style="background: url(images/equipmentIcons/criticalHit.png) no-repeat 2px 2px;" class="equipmentRedCap">
                                            </div>
                                    </div>

                                    <div class="statsName">
                                            <img align="absmiddle" src="images/help.gif" class="help" title="You deal 0 damage when missing a hit. You lose weapon and health during a miss, however you still gain experience points.">
                                            <b style="line-height:32px">Miss chance:</b>
                                    </div>

            <div id="missTooltip" class="ui-tooltip ui-widget ui-widget-content ui-corner-all" style="width:215px;display:none;position:absolute;z-index:100;">
            <div style="min-height: 25px;">
            <div style="width:150px;" class="statsLabel smallDescLabel"><b>Base miss chance</b></div>
            <div class="statsLabelRight descStatsLabel blueLabel"><b>12.5 %</b></div>
            </div>
            
            <div style="min-height: 25px;">
            <div style="width:150px;" class="statsLabel smallDescLabel"><b>Overall miss chance</b></div>
            <div class="statsLabelRight descStatsLabel blueLabel"><b>12.5 %</b></div>
            </div>
            </div>
                                    <div id="missHelp" title="" tooltip="missTooltip" class="help equipmentBlueCap">
                                            <b class="equipmentStats">12.5 %</b>
                                            <div style="background: url(images/equipmentIcons/reduceMiss.png) no-repeat 2px 2px;" class="equipmentRedCap">
                                            </div>
                                    </div>
                                    <div class="statsName">
                                                    <img align="absmiddle" src="images/help.gif" class="help" title="You will lose no health for any hit when this event is triggered">
                                            <b style="line-height:32px">Chance to avoid DMG:</b>
                                    </div>

            <div id="avoidTooltip" class="ui-tooltip ui-widget ui-widget-content ui-corner-all" style="width:215px;display:none;position:absolute;z-index:100;">
            <div style="min-height: 25px;">
            <div style="width:150px;" class="statsLabel smallDescLabel"><b>Base chance to avoid DMG:</b></div>
            <div class="statsLabelRight descStatsLabel blueLabel"><b>5.0 %</b></div>
            </div>
            
            <div style="min-height: 25px;">
            <div style="width:150px;" class="statsLabel smallDescLabel"><b>Overall chance to avoid DMG</b></div>
            <div class="statsLabelRight descStatsLabel blueLabel"><b>5.0 %</b></div>
            </div>
            </div>

                                    <div id="avoidHelp" tooltip="avoidTooltip" title="" class="help equipmentBlueCap">
                                            <b class="equipmentStats">5.0%</b>
                                            <div style="background: url(images/equipmentIcons/avoidDamage.png) no-repeat 2px 2px;" class="equipmentRedCap">
                                            </div>
                                    </div>
                            </div>
                    </div>		
    
<p style="clear: both"></p> </div>


<br>
<div style="width:500px;" class="testDivblue ">

	<h2 class="biggerFont" style="text-align:center">Military details</h2>
	
	<table class="attributesTable"> 
	
		<tbody><tr> <td style="width:200px">Total training sessions:</td> <td style="width:200px"><div class="statsLabel smallStatsLabel blueLabel"><p style="margin: 0px 4px;">5</p></div></td></tr>
		<tr> <td style="width:300px">Strength:</td> <td style="width:300px"><div class="statsLabel smallStatsLabel blueLabel"><p style="margin: 0px 4px;">600</p></div></td> </tr>
		<tr> <td>Military rank:</td> <td><div style="height:20px;" class="statsLabel smallStatsLabel blueLabel"><p style="margin: 0px 4px;">Staff Sergeant  <img style="height: 18px; vertical-align: middle;" src="images/rankIcons/Staff-Sergeant-glam.png"></p></div></td> </tr>
		<tr> <td>Total damage done:</td> <td><div class="statsLabel smallStatsLabel blueLabel"><p style="margin: 0px 4px;">17226</p></div></td> </tr>
		<tr> <td> &nbsp; </td> <td> </td> </tr>
		<tr> <td>Damage with no weapon:</td><td><div class="statsLabel smallStatsLabel blueLabel"><b style="margin-left:4px;">361</b> / <b style="margin-right:4px;">542</b></div></td></tr>
		<tr> <td>Damage with Q1 weapon:</td><td><div class="statsLabel smallStatsLabel blueLabel"><b style="margin-left:4px;">866</b> / <b style="margin-right:4px;">1300</b></div></td></tr>
		<tr> <td>Damage with Q2 weapon:</td><td><div class="statsLabel smallStatsLabel blueLabel"><b style="margin-left:4px;">1010</b> / <b style="margin-right:4px;">1517</b></div></td></tr>
		<tr> <td>Damage with Q3 weapon:</td><td><div class="statsLabel smallStatsLabel blueLabel"><b style="margin-left:4px;">1155</b> / <b style="margin-right:4px;">1734</b></div></td></tr>
		<tr> <td>Damage with Q4 weapon:</td><td><div class="statsLabel smallStatsLabel blueLabel"><b style="margin-left:4px;">1299</b> / <b style="margin-right:4px;">1951</b></div></td></tr>
		<tr> <td>Damage with Q5 weapon:</td><td><div class="statsLabel smallStatsLabel blueLabel"><b style="margin-left:4px;">1444</b> / <b style="margin-right:4px;">2168</b></div></td></tr>
		
	</tbody></table>
	
<p style="clear: both"></p> </div>

 <script type="text/javascript">
        $(document).ready(function(){
            $('.eqStats div.help').hover(function(e){
                $(this).tooltip({
                    content: $('#'+$(this).attr('tooltip')).html(),
                    position: {
                        my: "left center",
                        at: "right center"
                    },
                    show: { effect: "fade", delay: 100,  duration: 200 },
                    hide:    { effect: "fade", delay: 100,  duration: 200 }
                    
                });
                $('.ui-tooltip-content .help').tooltip({
                    show: { effect: "fade", delay: 100,  duration: 200 },
                    hide:    { effect: "fade", delay: 100,  duration: 200 }
                });
                
            });
            //$('i.help').tooltip();

        });
</script>